{% extends 'template/jhTemplateV4.html'%}
{% block vueTemplate %}
<script type="text/html" id="app-template">
  <div>
    <v-app mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="mt-15">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="jh-page-second-bar px-8">
          <v-row class="align-center">
            <v-col cols="12" xs="12" sm="12" md="4" xl="3">
              <div class="py-4 text-body-1 font-weight-bold">仪表盘
                <!-- 帮助页按钮 -->
                <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-2" @click="isHelpPageDrawerShown = true">
                  <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
                </span>
              </div>
            </v-col>
          </v-row>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->

        <!-- 页面内容 >>>>>>>>>>>>> -->
        <div class="jh-page-body-container px-8">
          <v-container class="pa-0">
            <v-card flat class="pa-4 jh-dashboard-wrapper-card">
              <div class="d-flex align-center justify-space-between">
                <div class="d-flex align-center">
                  <v-icon dense color="grey darken-2">mdi-monitor-dashboard</v-icon>
                  <span class="font-weight-medium text-subtitle-1 ml-1">工作台</span>
                </div>
                <v-chip-group mandatory active-class="success--text" v-model="activeDashboard" class="jh-dashboard-chip">
                  <v-chip label small v-for="tag in dashboardList" :key="tag" class="my-0">{{ tag }}</v-chip>
                </v-chip-group>
              </div>
              <v-divider class="my-3"></v-divider>
              <div class="jh-directory-card-body">
                <!-- 模板 -->
                <v-row v-if="activeDashboard === 0">
                  <v-col cols="12" class="pb-0">
                    <v-alert class="mb-0" dense text type="warning" >
                      <span class="text-body-2">重要提醒</span>
                    </v-alert>
                  </v-col>
                  <v-col cols="8" xs="12">
                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex align-center pa-4">
                        <div class="font-weight-medium text-subtitle-2">数据统计 - A</div>
                        <div class="text--secondary text-caption ml-2">次要文字</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <v-card class="d-flex flex-row flex-wrap mx-3" elevation="0">
                            <template v-for="(status, index) in constantObj.status" :key="index">
                              <v-card
                                elevation="0"
                                class="pa-3 text-center jh-statistics-card">
                                <div class="mb-2">{{status.text}}</div>
                                <div><span class="primary--text">{{status.num || 0}}</span> 人</div>
                              </v-card>
                            </template>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-card>
        
                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">数据统计 - B</div>
                        <div class="text--secondary text-caption ml-2">次要文字</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <v-card class="d-flex flex-row flex-wrap ml-3" elevation="0">
                            <template v-for="(status, index) in constantObj.status2" :key="index">
                              <v-card
                                elevation="0"
                                class="pa-3 text-center jh-statistics-card">
                                <div class="mb-2">{{status.text}}</div>
                                <div><span class="primary--text">{{status.num || 0}}</span> 人</div>
                              </v-card>
                            </template>
                            <v-card
                              elevation="0"
                              class="pa-3 text-center jh-statistics-card">
                              <h4>部门薪资占比</h4>
                              <div class="text--secondary text-caption mt-3">暂无数据</div>
                            </v-card>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-card>

                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">图表 - A</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <v-sparkline
                            :gradient="['#f72047', '#ffd200', '#1feaea']"
                            line-width="2"
                            padding="8"
                            smooth="10"
                            :value="[0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0]"
                            auto-draw
                          ></v-sparkline>
                        </v-col>
                      </v-row>
                    </v-card>

                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">图表 - B</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <v-card class="px-4"> 
                            <v-sheet color="#C8E6C9">
                              <v-sparkline 
                              :labels="[ '12am', '3am', '6am', '9am', '12pm', '3pm', '6pm', '9pm', ]" 
                              :value="[ 200, 675, 410, 390, 310, 460, 250, 240, ]" color="white" line-width="2" padding="16" ></v-sparkline>
                            </v-sheet>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-card>

                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">表格</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <v-card class="px-4" flat> 
                            <v-simple-table dense>
                              <template v-slot:default>
                                <thead>
                                  <tr>
                                    <th class="text-left font-weight-bold">
                                      Name
                                    </th>
                                    <th class="text-left font-weight-bold">
                                      Calories
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr
                                    v-for="item in tableData"
                                    :key="item.name"
                                  >
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.calories }}</td>
                                  </tr>
                                </tbody>
                              </template>
                            </v-simple-table>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-card>
                  </v-col>
                  <v-col cols="4" class="pl-0">

                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">数据统计 - C</div>
                        <div class="text--secondary text-caption ml-2">次要文字</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <v-card class="d-flex flex-row flex-wrap ml-3" elevation="0">
                            <template v-for="(status, index) in constantObj.status3" :key="index">
                              <v-card
                                elevation="0"
                                class="pa-3 text-center jh-statistics-card">
                                <div class="mb-2">{{status.text}}</div>
                                <div><span class="primary--text">{{status.num || 0}}</span> 人</div>
                              </v-card>
                            </template>
                          </v-card>
                          <v-card class="d-flex flex-row flex-wrap ml-3 mt-2" elevation="0">
                            <template v-for="(status, index) in constantObj.status4" :key="index">
                              <v-card
                                elevation="0"
                                class="pa-3 text-center jh-statistics-card">
                                <div class="mb-2">{{status.text}}</div>
                                <div><span class="primary--text">{{status.num || 0}}</span> 人</div>
                              </v-card>
                            </template>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-card>

                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">图表 - C</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <div class="d-flex flex-row flex-wrap justify-center">
                            <v-progress-circular :rotate="360" :size="100" :width="10" :value="80" color="primary" >已完成</v-progress-circular>
                            <v-progress-circular class="ml-5" :rotate="360" :size="100" :width="10" :value="20" color="amber" >进行中</v-progress-circular>
                          </div>
                        </v-col>
                      </v-row>
                    </v-card>

                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">进程/操作日志</div>
                      </div>
                      <v-timeline
                        align-top
                        dense
                      >
                        <v-timeline-item
                          color="green lighten-4"
                          small
                        >
                          <v-row class="pt-1">
                            <v-col cols="3">
                              <strong>5pm</strong>
                            </v-col>
                            <v-col>
                              <strong>审批完成</strong>
                              <div class="text-caption">
                                流程结束
                              </div>
                            </v-col>
                          </v-row>
                        </v-timeline-item>
                        <v-timeline-item
                          color="blue-grey lighten-4"
                          small
                        >
                          <v-row class="pt-1">
                            <v-col cols="3">
                              <strong>3-4pm</strong>
                            </v-col>
                            <v-col>
                              <strong>审批流转</strong>
                              <div class="text-caption mb-2">
                                李四、王五
                              </div>
                              <v-avatar>
                                <v-img
                                  src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairFrida&accessoriesType=Kurt&hairColor=Red&facialHairType=BeardLight&facialHairColor=BrownDark&clotheType=GraphicShirt&clotheColor=Gray01&graphicType=Skull&eyeType=Wink&eyebrowType=RaisedExcitedNatural&mouthType=Disbelief&skinColor=Brown"
                                ></v-img>
                              </v-avatar>
                              <v-avatar>
                                <v-img
                                  src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairFrizzle&accessoriesType=Prescription02&hairColor=Black&facialHairType=MoustacheMagnum&facialHairColor=BrownDark&clotheType=BlazerSweater&clotheColor=Black&eyeType=Default&eyebrowType=FlatNatural&mouthType=Default&skinColor=Tanned"
                                ></v-img>
                              </v-avatar>
                              </v-avatar>
                            </v-col>
                          </v-row>
                        </v-timeline-item>
                        <v-timeline-item
                          color="blue-grey lighten-4"
                          small
                        >
                          <v-row class="pt-1">
                            <v-col cols="3">
                              <strong>12pm</strong>
                            </v-col>
                            <v-col>
                              <strong>审批中</strong>
                            </v-col>
                          </v-row>
                        </v-timeline-item>
                        <v-timeline-item
                          color="blue-grey lighten-4"
                          small
                        >
                          <v-row class="pt-1">
                            <v-col cols="3">
                              <strong>9am</strong>
                            </v-col>
                            <v-col>
                              <strong>发布审批任务</strong>
                              <div class="text-caption">
                                张三
                              </div>
                            </v-col>
                          </v-row>
                        </v-timeline-item>
                      </v-timeline>
                    </v-card>

                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">进度</div>
                      </div>
                      <v-stepper alt-labels flat>
                        <v-stepper-header>
                          <v-stepper-step step="1">
                            新任务已分配
                          </v-stepper-step>
                          <v-divider></v-divider>
                          <v-stepper-step step="2">
                            处理中
                          </v-stepper-step>
                          <v-divider></v-divider>
                          <v-stepper-step step="3">
                            处理完成
                          </v-stepper-step>
                        </v-stepper-header>
                      </v-stepper>
                    </v-card>
                  </v-col>
                </v-row>  
                <!-- 人资 -->
                <v-row v-else-if="activeDashboard === 1">
                  <v-col cols="8" xs="12">
                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">人事概况</div>
                        <div class="text--secondary text-caption ml-2">（2022.11.01-2022.11.30）</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <v-card class="d-flex flex-row flex-wrap mx-3" elevation="0">
                            <template v-for="(status, index) in constantObj.status" :key="index">
                              <v-card
                                elevation="0"
                                class="pa-3 text-center jh-statistics-card">
                                <div class="mb-2">{{status.text}}</div>
                                <div><span class="primary--text">{{status.num || 0}}</span> 人</div>
                              </v-card>
                            </template>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-card>
        
                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">招聘动态</div>
                        <div class="text--secondary text-caption ml-2">（2022.11.01-2022.11.30）</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <v-card class="d-flex flex-row flex-wrap ml-3" elevation="0">
                            <template v-for="(status, index) in constantObj.status1" :key="index">
                              <v-card
                                elevation="0"
                                class="pa-3 text-center jh-statistics-card">
                                <div class="mb-2">{{status.text}}</div>
                                <div><span class="primary--text">{{status.num || 0}}</span> 人</div>
                              </v-card>
                            </template>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-card>
        
                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">上月薪资概况</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <v-card class="d-flex flex-row flex-wrap ml-3" elevation="0">
                            <template v-for="(status, index) in constantObj.status2" :key="index">
                              <v-card
                                elevation="0"
                                class="pa-3 text-center jh-statistics-card">
                                <div class="mb-2">{{status.text}}</div>
                                <div><span class="primary--text">{{status.num || 0}}</span> 人</div>
                              </v-card>
                            </template>
                            <v-card
                              elevation="0"
                              class="pa-3 text-center jh-statistics-card">
                              <h4>部门薪资占比</h4>
                              <div class="text--secondary text-caption mt-3">暂无数据</div>
                            </v-card>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-card>
        
                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">绩效考核</div>
                        <div class="text--secondary text-caption ml-2">（2022.11.01-2022.11.30）</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <v-tabs dense v-model="actionTab" class="px-4 pb-4">
                            <v-tab v-for="(tab, index) in tabs" :key="index">{{tab.title}}</v-tab>
                          </v-tabs>
                        </v-col>
                      </v-row>
                    </v-card>
                  </v-col>
                  <v-col cols="4" class="pl-0">
                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">待办提醒</div>
                      </div>
                      <v-row class="">
                        <v-col cols="12">
                          <v-card class="d-flex flex-row flex-wrap ml-3" elevation="0">
                            <template v-for="(status, index) in constantObj.status3" :key="index">
                              <v-card
                                elevation="0"
                                class="pa-3 text-center jh-statistics-card">
                                <div class="mb-2">{{status.text}}</div>
                                <div><span class="primary--text">{{status.num || 0}}</span> 人</div>
                              </v-card>
                            </template>
                          </v-card>
                          <v-card class="d-flex flex-row flex-wrap ml-3 mt-2" elevation="0">
                            <template v-for="(status, index) in constantObj.status4" :key="index">
                              <v-card
                                elevation="0"
                                class="pa-3 text-center jh-statistics-card">
                                <div class="mb-2">{{status.text}}</div>
                                <div><span class="primary--text">{{status.num || 0}}</span> 人</div>
                              </v-card>
                            </template>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-card>
        
                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">日历</div>
                      </div>
                      <div class="text-center">
                        <v-date-picker
                          v-model="picker"
                          color="green lighten-1"
                        ></v-date-picker>
                      </div>
                      <div class="pa-4">
                        <v-btn block color="primary">添加备忘录</v-btn>
                      </div>
                      <div class="pa-4">
                        <h4>当天事项</h4>
                        <div class="text--secondary text-caption mt-3 text-center">暂无数据</div>
                      </div>
                    </v-card>
                  </v-col>
                </v-row>  
                <!-- 空数据 -->
                <div v-else class="text-center mt-10">暂无数据~</div>
              </template>
            </v-card>
          </v-container>
        </div>
      </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->
        <div class="jh-page-body-container px-8 pt-4">
          <!-- 页面内容 >>>>>>>>>>>>> -->
          <v-card class="rounded-lg">
          <v-list-item-group
              v-model="selectedUrlItem"
              color="primary"
          >
            <v-row>
              <template v-if="!directoryList">
                <div style="text-align: center; line-height: 100px; width: 100%; color: #999999; font-size: 1.25rem">
                  加载中
                </div>
              </template>
              <template v-else-if="!Object.keys(directoryList).length">
                <div style="text-align: center; line-height: 100px; width: 100%; color: #999999; font-size: 1.25rem">
                  暂无目录
                </div>
              </template>
              <template v-else v-for="(value, key) in directoryList">
                <v-col cols="12" sm="6" md="4" lg="3" xl="2" class="">
                  <v-list dense :key="key">
                    <template v-for="(item, i) in value">
                      <v-list-item
                          :key="item.appId + '-' + item.loginId + '-' + item.appGroupNumber + '-' + item.appGroupItemSort + '-' + i"
                          @click="doUiAction('jump', item.url)"
                      >
                        <v-list-item-icon class="mr-2">
                          <v-icon size="18" color="grey lighten-3">mdi-link-variant</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title v-text="item.displayName"></v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-icon class="mr-2">
                          <v-icon size="18" color="grey lighten-1">mdi-chevron-right</v-icon>
                        </v-list-item-icon>
                      </v-list-item>
                      <!--          <v-divider></v-divider>-->
                    </template>
                  </v-list>
                </v-col>
              </template>
            </v-row>
          </v-list-item-group>
        </v-card>
        <!-- <<<<<<<<<<<<< 页面内容 -->
      </div>
       <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
       <v-navigation-drawer v-model="isHelpPageDrawerShown" fixed temporary right width="80%" class="elevation-24">
        <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#1.directory.md`" width="100%" height="100%"></iframe>
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
    </v-main>
    </v-app>
  <jh-toast />
  <jhMask />
  <jhConfirmDialog />
</div>
</script>
<div id="app">
</div>
{% endblock %}
{% block vueScript %}
<script type="module">

  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    // mixins: [window.jianghuUiActionMixins],
    data: {
      isMobile: window.innerWidth < 500,
      selectedUrlItem: null,
      isHelpPageDrawerShown: false,
      
      dashboardList: ['模板', '人资', '后勤', '校务', '教务', '财务', '公共关系'],
      activeDashboard: 0,

      constantObj: {
        status: [
            {text: "在职", value: 1},
            {text: "入职", value: 2},
            {text: "待入职", value: 3},
            {text: "离职", value: 4},
            {text: "待离职", value: 5},
            {text: "转正", value: 6},
            {text: "调岗", value: 7},
        ],
        status1: [
            {text: "正在招聘职位", value: 1},
            {text: "评选中", value: 2},
            {text: "待入职", value: 3},
            {text: "已入职", value: 4},
        ],
        status2: [
            {text: "计薪人员", value: 1},
            {text: "实发工资", value: 2},
        ],
        status3: [
            {text: "待审核薪资", value: 1},
            {text: "待离职", value: 2},
            {text: "合同到期", value: 3},
        ],
        status4: [
            {text: "待转正", value: 4},
            {text: "待入职", value: 5},
            {text: "生日", value: 6},
        ],
      },
      picker: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      tableData: [
        {
          name: 'Frozen Yogurt',
          calories: 159,
        },
        {
          name: 'Ice cream sandwich',
          calories: 237,
        },
        {
          name: 'Eclair',
          calories: 262,
        }
      ],

      tabs: [
        { title: '已完成考核', action: 'post' },
        { title: '进行中考核', action: 'basic' },
      ],
      actionTab: 0,

      isDirectoryLoading: true,
      directorySearchInput: null,
      directoryList: null,
      directorySearchList: null
    },
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
    },
    watch: {
      directorySearchInput() {
        this.doUiAction('directorySearch')
      },
    },
    async created() {
    },
    mounted() {
      // this.doUiAction('getTableData');
    },
    methods: {
      async doUiAction(uiActionId,uiActionData){
        switch(uiActionId){
          case 'directorySearch':
            await this.directorySearch();
            break;
          case 'getTableData':
            await this.getTableData();
            break;
          case 'jump':
            await this.jump(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },

      // ---------- 目录搜索 uiAction >>>>>>>>>>>> --------
       async directorySearch() {
        const searchVal = this.directorySearchInput ? this.directorySearchInput.toLowerCase() : null;
        const directoryList = _.cloneDeep(this.directoryList);
        if (searchVal) {
          this.directorySearchList = _.filter(directoryList, item => {
            return _.some(item, subItem => {
              return _.isObject(subItem) && _.some(subItem, value => {
                return _.isString(value) && value.includes(searchVal);
              });
            });
          });
        }else{
          this.directorySearchList = directoryList;
        }
      },
      // ---------- <<<<<<<<<<< 目录搜索 uiAction  --------

      /**
       * 获取表格数据
       */
      async getTableData() {
        this.isDirectoryLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'directory',
              actionId: 'selectItemList',
              orderBy: [{column: 'operationAt', order: 'desc'}]
            }
          }
        });
        this.directoryList = _
        .chain(result.data.appData.resultData.rows)
        .sortBy('appGroupItemSort')
        .groupBy('appGroupNumber')
        .value();
        this.isDirectoryLoading = false;
      },
      jump(url) {
        window.open(url);
      }
    }
  })
</script>

<style scoped>
  .jh-wrapper-card{
    min-height: calc(100vh - 151px);
    background-color: #F2F2F2 !important;
  }
  .v-divider{
    border-color: #F4F5F6 !important;
  }
  .jh-directory-card{
    height: calc(100vh - 92px);
  }
  .jh-directory-card-body{
    height: calc(100vh - 167px);
    overflow-y: auto;
  }
  .jh-dashboard-wrapper-card{
    height: calc(100vh - 92px);
    min-height: calc(100vh - 92px);
  }
  .jh-dashboard-card{
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 3%) !important;
  }
  .jh-statistics-card{
    flex: 1 !important;
    border-right: 1px solid #f5f5f5 !important;
    border-radius: 0 !important;
  }
  .jh-dashboard-card .jh-statistics-card:last-child{
    border-right: none !important;
  }
  .jh-dashboard-chip .v-slide-group__content{
    padding: 0 !important;
  }

  .v-chip-group .v-chip:last-child {
    margin-right: 0;
  }
</style>
{% endblock %}
