{% extends 'template/jhTemplateV4.html'%}
{% block vueTemplate %}
<script type="text/html" id="app-template">
  <div>
    <v-app mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="mt-15">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="jh-page-second-bar px-8">
          <v-row class="align-center">
            <v-col cols="12" xs="12" sm="12" md="4" xl="3">
              <div class="py-4 text-body-1 font-weight-bold">仪表盘
                <!-- 帮助页按钮 -->
                <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-2" @click="isHelpPageDrawerShown = true">
                  <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
                </span>
              </div>
            </v-col>
          </v-row>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->

        <!-- 页面内容 >>>>>>>>>>>>> -->
        <div class="jh-page-body-container px-8">
          <v-container class="pa-0">
            <v-card flat class="pa-4 jh-dashboard-wrapper-card">
              <div class="jh-directory-card-body">
                <v-row>
                  <v-col cols="12">
                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex align-center pa-4">
                        <div class="font-weight-medium text-subtitle-2">销售简报</div>
                      </div>
                      <div class="px-4 pb-4">
                        <v-row dense>
                          <v-col cols="12" xs="12" sm="12" md="3"
                            v-for="(item, index) in saleData"  
                            :key="index"
                           >
                            <v-card class="rounded-lg pa-4" role="button">
                              <v-row dense align="center">
                                <v-col cols="12" xs="12" sm="12" md="6">
                                  <div>{{item.label}}</div>
                                  <div class="mt-2"><span class="font-weight-bold text-subtitle-2 mr-1">{{item.number}}</span>{{item.unit}}</div>
                                  <div class="d-flex align-center mt-2">
                                    <div class="mr-2">较上月</div>
                                    <div class="mr-2" :class="item.status === 'up' ? 'red--text' : 'success--text'">{{item.rate}}</div>
                                    <div>
                                      <v-icon v-if="item.status === 'up'" size="18" color="red">mdi-arrow-up-bold</v-icon>
                                      <v-icon v-if="item.status === 'down'" size="18" color="green">mdi-arrow-down-bold</v-icon>
                                    </div>
                                  </div>
                                </v-col>
                                <v-col cols="12" xs="12" sm="12" md="6">
                                  <v-sparkline
                                    :gradient="item.chartOption.color"
                                    line-width="2"
                                    padding="8"
                                    smooth="10"
                                    :value="item.chartOption.data"
                                    auto-draw
                                  ></v-sparkline>
                                </v-col>
                              </v-row>
                            </v-card>
                          </v-col>
                        </v-row> 
                      </div>         
                    </v-card>
                  </v-col>
                  <v-col cols="6" xs="12">
                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex align-center pa-4">
                        <div class="font-weight-medium text-subtitle-2">合同金额目标及完成情况</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <v-card class="d-flex flex-row flex-wrap mx-3" elevation="0">
                            <v-chart :option="contractAmountLineOption" autoresize style="height: 300px;"/>
                            <v-chart :option="contractAmountBarOption" autoresize style="height: 300px;"/>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-card>
        
                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">销售漏斗</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <v-card class="d-flex flex-row flex-wrap ml-3" elevation="0">
                            <v-chart :option="saleBarOption" autoresize style="height: 400px;"/>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-card>

                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">排行榜</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <v-simple-table dense>
                            <template v-slot:default>
                              <thead>
                                <tr>
                                  <th class="text-left font-weight-bold">
                                    排名
                                  </th>
                                  <th class="text-left font-weight-bold">
                                    姓名
                                  </th>
                                  <th class="text-left font-weight-bold">
                                    回款金额（元）
                                  </th>
                                  <th class="text-left font-weight-bold">
                                    目标完成率（%）
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  v-for="(item, index) in tableData"
                                  :key="index"
                                >
                                  <td>{{ item.ranking }}</td>
                                  <td>{{ item.name }}</td>
                                  <td>{{ item.amount }}</td>
                                  <td>{{ item.completionRate}}</td>
                                </tr>
                              </tbody>
                            </template>
                          </v-simple-table>
                        </v-col>
                      </v-row>
                    </v-card>
                  </v-col>
                  <v-col cols="6" xs="12" class="pl-0">
                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex align-center pa-4">
                        <div class="font-weight-medium text-subtitle-2">数据汇总</div>
                      </div>
                      <div class="px-4 pb-4">
                        <div class="mt-2" v-for="(item, index) in datSummary" :key="index">
                          <div class="font-weight-bold jh-font-size-12">{{item.groupName}}</div>
                          <div class="mt-1">
                            <v-row dense>
                              <v-col cols="12" xs="12" sm="12" md="3"
                                v-for="(row, index) in item.list"  
                                :key="index"
                               >
                                <v-card class="rounded-lg pa-4" role="button">
                                  <div>{{row.lable}}</div>
                                  <div><span class="font-weight-bold text-subtitle-2 mr-1">{{row.number}}</span>{{row.unit}}</div>
                                </v-card>
                              </v-col>
                            </v-row> 
                          </div>     
                        </div>
                      </div>
                    </v-card>
        
                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">业绩指标完成率</div>
                      </div>
                      <v-row>
                        <v-col cols="12">
                          <v-card class="d-flex flex-row flex-wrap ml-3" elevation="0">
                            <v-chart :option="saleCompletionRateGaugeOption" autoresize style="height: 400px;"/>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-card>

                    <v-card class="rounded-lg mb-6 jh-dashboard-card">
                      <div class="d-flex pa-4">
                        <div class="font-weight-medium text-subtitle-2">客户遗忘提醒</div>
                      </div>
                      <div class="px-4 pb-4">
                        <v-row dense>
                          <v-col cols="12" xs="12" sm="12" md="4"
                            v-for="(item, index) in customerForgetfulnessList"  
                            :key="index"
                           >
                            <v-card class="rounded-lg pa-4" role="button">
                              <div class="d-flex align-center">
                                <div>{{item.status === '已逾期' ? `${item.time}` : `超过${item.time}未联系`}}</div>
                                <v-chip x-small class="ma-2" :color="item.status === '警告' ? 'orange' : item.status === '已逾期' ? 'red' : 'primary'" text-color="white"> {{item.status}} </v-chip>
                              </div>
                              <div><span class="font-weight-bold text-subtitle-2 mr-1">{{item.number}}</span>个</div>
                            </v-card>
                          </v-col>
                        </v-row> 
                      </div>                     
                    </v-card>
                  </v-col>
                </v-row>  
              </template>
            </v-card>
          </v-container>
        </div>

        <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
        <v-navigation-drawer v-model="isHelpPageDrawerShown" fixed temporary right width="80%" class="elevation-24">
          <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#1.directory.md`" width="100%" height="100%"></iframe>
          <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
        <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
      </v-main>
    </v-app>
    <jh-toast />
    <jhMask />
    <jhConfirmDialog />
  </div>
</script>
<div id="app">
</div>
{% endblock %}
{% block vueScript %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-echarts@6.6.4"></script>
<script type="module">
  Vue.component('v-chart', VueECharts);

  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: {
      isMobile: window.innerWidth < 500,
      isHelpPageDrawerShown: false,

      // 客户遗忘提醒
      saleData: [
        {
          label: '新增客户',
          number: 2,
          unit: '人',
          rate: '100%',
          status: 'up',
          chartOption: {
            color: ['#5470C6'],
            data: [0, 2, 5, 9, 5, 10, 3]
          }
        },
        {
          label: '新增联系人',
          number: 2,
          unit: '人',
          rate: '100%',
          status: 'up',
          chartOption: {
            color: ['#5470C6'],
            data: [0, 2, 5, 9, 5, 10, 3]
          }
        },
        {
          label: '新增商机',
          number: 2,
          unit: '个',
          rate: '-20%',
          status: 'down',
          chartOption: {
            color: ['#5470C6'],
            data: [0, 2, 5, 9, 5, 10, 3]
          }
        },
        {
          label: '新增合同',
          number: 2,
          unit: '个',
          rate: '100%',
          status: 'up',
          chartOption: {
            
          }
        },
        {
          label: '合同金额',
          number: 2,
          unit: '元',
          rate: '100%',
          status: 'up',
          chartOption: {
            color: ['#5470C6'],
            data: [0, 2, 5, 9, 5, 10, 3]
          }
        },
        {
          label: '商机金额',
          number: 2,
          unit: '元',
          rate: '100%',
          status: 'up',
          chartOption: {
            
          }
        },
        {
          label: '回款金额',
          number: 2,
          unit: '元',
          rate: '100%',
          status: 'up',
          chartOption: {
            color: ['#5470C6'],
            data: [0, 2, 5, 9, 5, 10, 3]
          }
        },
        {
          label: '新增跟进记录',
          number: 2,
          unit: '条',
          rate: '100%',
          status: 'up',
          chartOption: {
            color: ['#5470C6'],
            data: [0, 2, 5, 9, 5, 10, 3]
          }
        },
      ],

      // 合同金额折线图
      contractAmountLineOption: {
        xAxis: {
          type: 'category',
          data: ['2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06']
        },
        yAxis: {
          type: 'value'
        },
        series: [
          {
            data: [0, 2000, 4000, 6000, 2000, 2000],
            type: 'line'
          }
        ],
      },

      // 合同金额柱状图
      contractAmountBarOption: {
        xAxis: {
          data: ['2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06']
        },
        yAxis: {},
        series: [
          {
            type: 'bar',
            data: [0, 2000, 4000, 6000, 2000, 2000],
          }
        ]
      },

      // 销售漏斗图
      saleBarOption: {
        xAxis: {
          max: 'dataMax'
        },
        yAxis: {
          type: 'category',
          data: ['初步沟通', '验证客户', '报价', '赢单', '输单'],
        },
        series: [
          {
            name: '金额',
            type: 'bar',
            data: [1000, 2000, 4000, 6000, 2000],
            label: {
              show: true,
              position: 'right'
            }
          }
        ],
      },

      // 排行榜
      tableData: [
        {
          ranking: 1,
          name: '张无忌',
          amount: 2000,
          completionRate: '70%'
        },
        {
          ranking: 2,
          name: '王语嫣',
          amount: 1000,
          completionRate: '60%'
        },
        {
          ranking: 3,
          name: '小龙女',
          amount: 500,
          completionRate: '50%'
        },
      ],

      // 数据汇总
      datSummary: [
        {
          groupName: '客户汇总',
          list: [
            {
              lable: '新增客户',
              number: 2,
              unit: '个'
            },
            {
              lable: '转成交客户',
              number: 2,
              unit: '个'
            },
            {
              lable: '放入公海客户',
              number: 2,
              unit: '个'
            },
            {
              lable: '公海池领取',
              number: 2,
              unit: '个'
            },
          ]
        },
        {
          groupName: '商机汇总',
          list: [
            {
              lable: '新增商机',
              number: 2,
              unit: '个'
            },
            {
              lable: '赢单商机',
              number: 2,
              unit: '个'
            },
          ]
        }
      ],

      // 业绩指标完成率仪表盘
      saleCompletionRateGaugeOption: {
        tooltip: {
          formatter: '{a} <br/>{b} : {c}%'
        },
        series: [
          {
            name: 'Pressure',
            type: 'gauge',
            detail: {
              formatter: '{value}%'
            },
            data: [
              {
                value: 50,
                name: '完成率'
              }
            ]
          }
        ]
      },

      // 客户遗忘提醒
      customerForgetfulnessList: [
        {
          time: '7天',
          number: 2,
          status: '正常'
        },
        {
          time: '15天',
          number: 3,
          status: '正常'
        },
        {
          time: '1个月',
          number: 4,
          status: '警告'
        },
        {
          time: '3个月',
          number: 5,
          status: '警告'
        },
        {
          time: '6个月',
          number:6,
          status: '警告'
        },
        {
          time: '逾期未联系',
          number: 7,
          status: '已逾期'
        }
      ],

    },
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
    },
    watch: {
    },
    async created() {
    },
    mounted() {
      // this.doUiAction('getTableData');
    },
    methods: {
      async doUiAction(uiActionId,uiActionData){
        switch(uiActionId){
          case 'getTableData':
            await this.getTableData();
            break;
          case 'jump':
            await this.jump(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },

      async getTableData() {
       
      },
      jump(url) {
        window.open(url);
      }
    }
  })
</script>

<style scoped>
  .jh-wrapper-card{
    min-height: calc(100vh - 151px);
    background-color: #F2F2F2 !important;
  }
  .v-divider{
    border-color: #F4F5F6 !important;
  }
  .jh-directory-card{
    height: calc(100vh - 92px);
  }
  .jh-directory-card-body{
    height: calc(100vh - 167px);
    overflow-y: auto;
  }
  .jh-dashboard-wrapper-card{
    height: calc(100vh - 92px);
    min-height: calc(100vh - 92px);
  }
  .jh-dashboard-card{
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 3%) !important;
  }
  .jh-statistics-card{
    flex: 1 !important;
    border-right: 1px solid #f5f5f5 !important;
    border-radius: 0 !important;
  }
  .jh-dashboard-card .jh-statistics-card:last-child{
    border-right: none !important;
  }
  .jh-dashboard-chip .v-slide-group__content{
    padding: 0 !important;
  }

  .v-chip-group .v-chip:last-child {
    margin-right: 0;
  }
</style>
{% endblock %}
