{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
  <v-app mobile-breakpoint="sm">
    <jh-menu />
    <v-main class="mt-15">
      <!-- 头部内容 >>>>>>>>>>>>> -->
      <div class="jh-page-second-bar px-8">
        <v-row class="align-center">
          <v-col cols="12" xs="12" sm="12" md="4" xl="3">
            <div class="py-4 text-body-1 font-weight-bold">目录管理
              <!-- 帮助页按钮 -->
              <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-2" @click="isHelpPageDrawerShown = true">
                <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
              </span>
            </div>
          </v-col>
        </v-row>
      </div>
      <!-- <<<<<<<<<<<<< 头部内容 -->

      <div class="jh-page-body-container px-8">
        <!-- 页面内容 >>>>>>>>>>>>> -->
        <v-card class="rounded-lg jh-fixed-table-height">
          <div class="text-center text-body-2 ma-16" v-if="!directoryList">
            加载中~
          </div>
          <div class="text-center text-body-2 ma-16" v-else-if="!Object.keys(directoryList).length">
            暂无目录~
          </div>
          <v-list-item-group
            v-model="selectedUrlItem"
            color="primary"
            v-else
          >
            <v-row class="pt-2">
              <template  v-for="(value, key) in directoryList">
                <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                  <v-list dense :key="key">
                    <template v-for="(item, i) in value">
                      <v-list-item
                        :key="item.appId + '-' + item.loginId + '-' + item.appGroupNumber + '-' + item.appGroupItemSort + '-' + i"
                        @click="doUiAction('jump', item.url)"
                      >
                        <v-list-item-icon class="mr-2">
                          <v-icon size="18" color="grey lighten-3">mdi-link-variant</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title v-text="item.displayName"></v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-icon class="mr-2">
                          <v-icon size="18" color="grey lighten-1">mdi-chevron-right</v-icon>
                        </v-list-item-icon>
                      </v-list-item>
                    </template>
                  </v-list>
                </v-col>
              </template>
            </v-row>
          </v-list-item-group>
        </v-card>
        <!-- <<<<<<<<<<<<< 页面内容 -->
      </div>

      <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
      <v-navigation-drawer v-model="isHelpPageDrawerShown" fixed temporary right width="80%" class="elevation-24">
        <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#1.directory.md`" width="100%" height="100%"></iframe>
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

    </v-main>
  </v-app>

  <jh-toast />
  <jhMask />
  <jhConfirmDialog />
</div>
</script>

<div id="app">
</div>


{% endblock %}

{% block vueScript %}
<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->
<script type="module">

new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: {
    isMobile: window.innerWidth < 500,
    selectedUrlItem: null,
    directoryList: null,
    isHelpPageDrawerShown: false,
  },
  watch: {},
  async created() {
  },
  mounted() {
    this.doUiAction('getTableData');
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getTableData':
          await this.getTableData(uiActionData);
          break;
        case 'jump':
          await this.jump(uiActionData);
          break;
        default:
          console.error("[doUiAction] uiActionId not find", {uiActionId});
          break;
      }
    },
    /**
     * 获取表格数据
     */
    async getTableData() {
      this.isTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'directory',
            actionId: 'selectItemList',
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      this.directoryList = _
        .chain(result.data.appData.resultData.rows)
        .sortBy('appGroupItemSort')
        .groupBy('appGroupNumber')
        .value();
      this.isTableLoading = false;
    },
    // 跳转
    jump(url) {
      window.open(url);
    }
  }
})
</script>
{% endblock %}
