{% extends 'template/jhTemplateV4.html'%}
{% block vueTemplate %}
<script type="text/html" id="app-template">
  <div>
    <v-app mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="mt-15">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="jh-page-second-bar px-8">
          <v-row class="align-center">
            <v-col cols="12" xs="12" sm="12" md="4" xl="3">
              <div class="py-4 text-body-1 font-weight-bold">目录管理
                <!-- 帮助页按钮 -->
                <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-2" @click="isHelpPageDrawerShown = true">
                  <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
                </span>
              </div>
            </v-col>
          </v-row>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->

        <!-- 页面内容 >>>>>>>>>>>>> -->
        <div class="jh-page-body-container px-8">
          <v-container class="pa-0">
            <v-card class="jh-wrapper-card">
              <v-row dense no-gutters v-if="isDirectoryLoading || (!isDirectoryLoading && directoryList)">
                <!-- 目录 -->
                <v-col cols="12" xs="12" sm="4" md="3" xl="2" class="pr-sm-2">
                  <v-card flat class="pa-6 jh-directory-card">
                    <div class="jh-card-body">
                      <v-skeleton-loader
                        type="list-item-three-line, list-item-three-line, list-item-three-line"
                        v-if="isDirectoryLoading"
                      ></v-skeleton-loader>
                      <template v-else>
                        <div class="d-flex align-center">
                          <span class="font-weight-medium text-subtitle-2">目录</span>
                        </div>
                        <div class="mt-4">
                          <div class="mb-2" v-for="(value, key) in directoryList" :key="key">
                            <a class="text--secondary jh-font-size-14 text-decoration-none" :href="`#${value[0].appGroupName}-${key}`">{{value[0].appGroupName}}</a>
                          </div> 
                        </div>
                      </template>
                    </div>
                  </v-card>
                </v-col>

                <!-- 应用 -->
                <v-col cols="12" xs="12" sm="8" md="9" xl="10">
                  <v-card flat class="pa-6 jh-list-card">
                    <div class="jh-card-body">
                      <v-skeleton-loader
                        type="list-item-three-line, list-item-three-line, list-item-three-line"
                        v-if="isDirectoryLoading"
                      ></v-skeleton-loader>
                      <template v-else>
                        <div class="mb-6" v-for="(value, key) in directoryList" :key="key">
                          <div class="font-weight-medium text-subtitle-1 mb-1" :id="`${value[0].appGroupName}-${key}`">{{value[0].appGroupName}}</div>
                          <v-row dense>
                            <v-col cols="3" xs="12"
                              v-for="(item, i) in value"  
                              :key="item.appId + '-' + item.loginId + '-' + item.appGroupNumber + '-' + item.appGroupItemSort + '-' + i"
                              @click="doUiAction('jump', item.url)">
                              <v-card class="rounded-lg pa-4 jh-app-card" role="button">
                                <div class="font-weight-medium text-subtitle-2">{{item.displayName}}</div>
                                <div class="text--secondary jh-font-size-13 mt-2">{{item.description}}</div>
                              </v-card>
                            </v-col>
                          </v-row> 
                        </div>
                      </template>
                    </div>
                  </v-card>
                </v-col>
              </v-row>

              <!-- 空数据 -->
              <div v-else class="text-center pt-10">暂无数据~</div>
            </v-card>
          </v-container>
        </div>
        <!-- <<<<<<<<<<<<< 页面内容 -->

        <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
        <v-navigation-drawer v-model="isHelpPageDrawerShown" fixed temporary right width="80%" class="elevation-24">
          <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#1.directory.md`" width="100%" height="100%"></iframe>
          <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
        <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
      </v-main>
      </v-app>
    <jh-toast />
    <jhMask />
    <jhConfirmDialog />
  </div>
</script>
<div id="app">
</div>
{% endblock %}
{% block vueScript %}
<script type="module">

  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: {
      isMobile: window.innerWidth < 500,
      isHelpPageDrawerShown: false,
      
      isDirectoryLoading: true,
      directoryList: null,
      selectedUrlItem: null,
    },
    computed: { },
    watch: { },
    async created() { },
    mounted() {
      this.doUiAction('getTableData');
    },
    methods: {
      async doUiAction(uiActionId,uiActionData){
        switch(uiActionId){
          case 'getTableData':
            await this.getTableData();
            break;
          case 'jump':
            await this.jump(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },

      /**
       * 获取表格数据
       */
      async getTableData() {
        this.isDirectoryLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'directory',
              actionId: 'selectItemList',
              orderBy: [{column: 'operationAt', order: 'desc'}]
            }
          }
        });
        this.directoryList = _
        .chain(result.data.appData.resultData.rows)
        .sortBy('appGroupItemSort')
        .groupBy('appGroupNumber')
        .value();
        this.isDirectoryLoading = false;
      },
      jump(url) {
        window.open(url);
      }
    }
  })
</script>

<style scoped>
  .jh-wrapper-card{
    min-height: calc(100vh - 151px);
  }
  .jh-directory-card{
    height: calc(100vh - 92px);
    border-right: 1px solid #F4F5F6 !important;
  }
  .jh-list-card{
    height: calc(100vh - 92px);
    min-height: calc(100vh - 92px);
  }
  .jh-card-body{
    height: calc(100vh - 167px);
  }
  .jh-app-card{
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 3%) !important;
  }
</style>
{% endblock %}
