<template id="file-list"> 
  <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
  <!-- 页面主要内容 -->
    <v-card :class="{'px-2': isMobile}">
      <v-row class="ma-0 pt-0 d-flex" align="center" >
        <v-btn color="success" small dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem', null)">新增附件
        </v-btn>

        <v-spacer></v-spacer>
        <v-col cols="12" sm="6" md="3" xl="3" class="pa-0">
          <v-text-field v-model="searchInput" color="success" prefix="表格过滤：" class="cus-v-input" dense filled single-line hide-details></v-text-field>
        </v-col>

        <v-col cols="12" sm="6" md="3" xl="3" class="pa-0 ml-2">
          <row-status-select :value="serverSearchInput.rowStatus" :bg-white="false" @update-value="serverSearchInput.rowStatus=$event" />
        </v-col>
        <v-btn
          class="elevation-0 ml-2"
          color="success"
          dark
          small
          @click="doUiAction('refreshTableData')"
        >
          查询
        </v-btn>

      </v-row>
      <preview-file-card :file-list="tableData">
        <template #action="{ item }"> 
          <row-status-switch-button :value="item.rowStatus" @update-value="doUiAction('rowStatusChange', { item, rowStatus: $event })"/>
         </template>
      </preview-file-card>
      <v-overlay absolute :value="isTableLoading" color="#fff">
        <v-progress-circular
          color="success"
          indeterminate
          size="32"
        ></v-progress-circular>
      </v-overlay>
    </v-card>

<v-overlay app :value="isEditDrawerShow"></v-overlay>
  <!-- 编辑抽屉 -->
  <v-navigation-drawer v-model="isEditDrawerShow" :permanent="isEditDrawerShow" fixed temporary right width="80%" hide-overlay class="elevation-24">
    <v-form v-model="isFormValid" ref="form" lazy-validation>
      <v-row class="pt-8">
        <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">{{ currentClickButton.title }}文件</span>
        <v-spacer></v-spacer>
        <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isEditDrawerShow = false">
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </v-row>
      <v-row :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}" v-if="isEditDrawerShow">
        <v-col v-if="currentClickButton.action === 'add'" cols="12" sm="12" md="6" xl="6" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
          <span class="jh-input-label">文件<span class="red--text text--accent-2 ml-1">*必填</span></span>
          <v-file-input v-model="inputFile" class="cus-v-input" dense filled single-line chips label="请选择文件" hide-details :rules="requireRules"></v-file-input>
        </v-col>
        <v-col cols="12" class="pa-0"></v-col>
        <v-col cols="12" sm="12" md="6" xl="6" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span class="jh-input-label">文件分类<span class="red--text text--accent-2 ml-1">*必填</span></span>
          <v-select class="cus-v-input" v-model="editItem['type']"
            :items="constantCollection.type" dense item-text="text" item-value="value" dense filled single-line :rules="requireRules"></v-select>
        </v-col>
        <v-col cols="12" sm="12" md="6" xl="6" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span class="jh-input-label">文件类型<span class="red--text text--accent-2 ml-1">*必填</span></span>
          <v-select class="cus-v-input" v-model="editItem['subType']"
            :items="constantCollection.subType" dense item-text="text" item-value="value" dense filled single-line :rules="requireRules"></v-select>
        </v-col>
        <v-col cols="12" sm="12" md="6" xl="6" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span class="jh-input-label">备注</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['remarks']" hide-details></v-text-field>
        </v-col> 
      </v-row>
      <v-row class="justify-end mx-0 mt-8" :class="{'px-10': !isMobile, 'px-3': isMobile, 'mb-8': isMobile}">
        <v-btn color="success" @click="doUiAction(dialogSaveInfoAction)">保存</v-btn>
        <v-btn class="elevation-0 mr-2 ml-2" @click="isEditDrawerShow = false">取消</v-btn>
      </v-row>
    </v-form>
  </v-navigation-drawer>

  <v-overlay :value="overlay" @click="overlay = false" :opacity="0.85"  style="z-index: 9999;">
    <v-icon style="position: fixed; right: 30px; top: 30px;" large color="white"
      @click="overlay = false" :color="fileType === 'pdf' ? '#ccc' : ''">
      mdi-close-circle
    </v-icon>
    <v-icon style="position: fixed; right: 80px; top: 30px;" large color="white"
      @click="doUiAction('downloadFileByStream', {item: editItem})" :color="fileType === 'pdf' ? '#ccc' : ''">
      mdi-download
    </v-icon>
    <iframe v-if="fileType === 'pdf'" id="pdfPlayer" :src="fileSrc" frameborder="0"
     style="width: 90vw; height: 90vh; padding: 50px 0 0 0;"></iframe>
    <v-img v-else max-height="90vh" max-width="90vw" :src="fileSrc"></v-img>
  </v-overlay>
</v-container>
</template>


<script type="module">
  Vue.component("FileList", {
    template: '#file-list',
    props: ['employeeId'],
    vuetify: new Vuetify(),
    data: () => ({
      isMobile: window.innerWidth < 600,

      serverSearchInput: {
        rowStatus: ['正常']
      },
      // 表格相关数据
      isFormValid: true,
      requireRules: [ v => !!v || '必填' ],
      constantCollection: {
        type: [
          {"value": "员工基本资料", "text": "员工基本资料"}, 
          {"value": "员工档案资料", "text": "员工档案资料"}, 
          {"value": "员工离职资料", "text": "员工离职资料"}, 
        ],
        subType: [
          {"value": "教师资格证", "text": "教师资格证"}, 
          {"value": "录用记录", "text": "录用记录"}, 
          {"value": "身份证原件", "text": "身份证原件"}, 
          {"value": "学历证明", "text": "学历证明"}, 
          {"value": "个人证件照", "text": "个人证件照"}, 
          {"value": "身份证复印件", "text": "身份证复印件"}, 
          {"value": "工资银行卡", "text": "工资银行卡"}, 
          {"value": "社保卡", "text": "社保卡"}, 
          {"value": "公积金卡", "text": "公积金卡"}, 
          {"value": "获奖证书", "text": "获奖证书"}, 
          {"value": "其他", "text": "其他"}, 
          {"value": "劳动合同", "text": "劳动合同"}, 
          {"value": "入职简历", "text": "入职简历"}, 
          {"value": "入职登记表", "text": "入职登记表"}, 
          {"value": "入职体检单", "text": "入职体检单"}, 
          {"value": "离职证明", "text": "离职证明"}, 
          {"value": "转正申请表", "text": "转正申请表"}, 
          {"value": "离职审批", "text": "离职审批"}, 
          {"value": "离职证明", "text": "离职证明"}, 
        ],
      },
      isEditDrawerShow: false,
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        {text: "文件名", value: "filename", width: 200, }, 
        {text: "文件分类", value: "type", width: 120}, 
        {text: "文件类型", value: "subType", width: 120}, 
        {text: "文件下载(注意: 在线预览只支持 图片和pdf)", value: "download-path", width: 220}, 
        {text: "备注", value: "remarks", width: 120}, 
        {text: "操作人", value: "operationByUser", width: 120},
        {text: "操作时间", value: "operationAt", width: 250},
        {text: '操作', value: 'action', align: 'center', sortable: false, width: 150}
      ],

      currentClickButton: {title: '新增', action: 'add'},
      editItem: {},
      inputFile: null,
      downloadPrefix: `${window.location.origin}/<$ ctx.app.config.appId $>/upload`,
      dialogSaveInfoAction: '',
      overlay: false,
      fileType: '',
      fileSrc: '',
      previewPrefix: `/<$ ctx.app.config.appId $>/upload`,
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      tableData() {
        return _.groupBy(this.tableDataFromBackend, 'subType');
      }
    },
    watch: {
      employeeId() {
        this.doUiAction('refreshTableData');
      }
    },
    async created() {
    },
    mounted() {
      this.doUiAction('refreshTableData');
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData(uiActionData);
            break;
          case 'startCreateItem':
            await this.clearItemData(uiActionData);
            await this.openCreateItemDialog(uiActionData);
            break;
          case 'createItem':
            await this.prepareValidate(uiActionData);
            await this.confirmCreateItemDialog(uiActionData);
            await this.doCreateItem(uiActionData);
            await this.refreshTableData(uiActionData);
            await this.closeDrawerShow(uiActionData);
            break;
          case 'startUpdateItem':
            await this.prepareItemData(uiActionData);
            await this.openUpdateItemDialog(uiActionData);
            break;
          case 'updateItem':
            await this.prepareValidate(uiActionData);
            await this.confirmUpdateItemDialog(uiActionData);
            await this.doUpdateItem(uiActionData);
            await this.refreshTableData(uiActionData);
            await this.closeDrawerShow(uiActionData);
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog(uiActionData);
            await this.prepareItemData(uiActionData);
            await this.doDeleteItem(uiActionData);
            await this.refreshTableData(uiActionData);
            break;
          case 'downloadFileByStream':
            await this.downloadFileByStream(uiActionData);
            break;
          case 'rowStatusChange':
            await this.rowStatusChange(uiActionData);
            await this.refreshTableData();
            break;    
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      /**
       * 获取表格数据
       */
      async refreshTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'employeeManagement', 
              actionId: 'fileUpload-selectItemList',
              orderBy: [{column: 'operationAt', order: 'desc'}],
              where: {
                employeeId: this.employeeId,
              },
              whereIn: {
                rowStatus: this.serverSearchInput.rowStatus
              },
            }
          }
        });
        this.tableDataFromBackend = result.data.appData.resultData.rows.map(item => ({ ...item,
          // 临时适配单凭据文件数据格式
          supplierList: [item]
        }));
        this.isTableLoading = false;
      },

      // startCreateItem
      async clearItemData() {
        this.editItem = {
          rowStatus : '正常',
          // type: '员工基本资料',
          // subType: '劳动合同',
        };
        this.inputFile = null;
      },

      async openCreateItemDialog() {
        this.currentClickButton = {action: 'add', title: '新增'};
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = 'createItem';
      },

      // 表单验证
      async prepareValidate() {
        if (await this.$refs.form.validate() === false) {
          throw new Error("[prepareValidate] false");
        }
      },

      // createItem
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
          throw new Error("[confirmCreateFormDialog] 否");
        }
      },

      /**
       * 新增数据
       */
      async doCreateItem() {
        const { subType, remarks,rowStatus, type } = this.editItem;
        const employeeId = this.employeeId;
        console.log("this.employeeId",this.employeeId)
        await window.vtoast.loading("保存中");
        const file = this.inputFile
        window.vtoast.loading(`${file.name} 上传进度: 0.00%`);
        const result = await window.jianghuAxios.httpUploadByStream({
            file,
            fileDirectory: `employeeFile/${this.employeeId}`,
            onProgress: (total, loaded) => {
              const progress = Number((loaded * 100 / total).toFixed(2));
              window.vtoast.loading(`${file.name} 上传进度: ${progress}%`);
              if (loaded === total) {
                window.vtoast.success(`${file.name} 上传进度: 100%`);
              }
            }
          })
        const { status } = result.data;
        console.log("status",status);
        const { filename, downloadPath } = result.data.appData.resultData;
        if (status === 'success') {
          await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'employeeManagement', 
                actionId: 'fileUpload-insertItem',
                actionData: {employeeId, subType, type, remarks, filename, downloadPath,rowStatus },
              }
            }
          })
          await window.vtoast.success("新增数据成功");
        } else {
          await window.vtoast.fail("文件上传失败");
        }
        console.log("result.data.appData.resultData",result.data.appData.resultData);
      },

      // startUpdateItem
      async prepareItemData({item}) {
        this.editItem = {...item};
      },

      async openUpdateItemDialog() {
        this.currentClickButton = {action: 'edit', title: '修改'};
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = 'updateItem';
      },

      // updateItem
      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
          throw new Error("[confirmUpdateItemDialog] 否");
        }
      },

      /**
       * 保存学生
       */
      async doUpdateItem() {
        await window.vtoast.loading("保存中");
        const { id, ...data } = this.editItem;
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'employeeManagement',
              actionId: 'fileUpload-updateItem',
              actionData: data,
              where: {id}
            }
          }
        })
        await window.vtoast.success("修改成功");
      },

      // 关闭抽屉
      async closeDrawerShow() {
        this.isEditDrawerShow = false;
      },

      // deleteItem
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
          throw new Error("[confirmDeleteItemDialog] 否");
        }
      },

      /**
       * 删除数据
       */
      // TODO::只是删除了 _file表中的数据，并没有删除文件
      async doDeleteItem() {
        const { id } = this.editItem;
        window.vtoast.loading('正在删除')
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'employeeManagement',
              actionId: 'fileUpload-deleteItem',
              where: {id}
            }
          }
        });
        window.vtoast.success('删除成功')
      },
      async rowStatusChange({ item, rowStatus }) {
        if (await window.confirmDialog({title: "数据状态", content: `确定将数据修改为【${rowStatus}】吗？`}) === false) {
          throw new Error("rowStatus 取消");
        }
        await window.vtoast.loading("修改数据状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'employeeManagement',
              actionId: 'fileUpload-updateItem',
              actionData: { rowStatus },
              where: { id: item.id }
            }
          }
        });
        item.rowStatus = rowStatus;
        await window.vtoast.success("修改数据状态成功");
      }
    }
  })
</script>
