<template id="task-approval-person-list">
  <div>
    <v-btn v-if="!readonly" x-small @click="addTodo">
      <!-- 添加icon -->
      <v-icon size="14">mdi-plus</v-icon>
      添加审批人</v-btn>

    <div class="mt-2 todo-list">
      <div v-for="(person, index) in personList" :key="index" class="todo-item d-flex align-center"
        style="border: 1px solid #eee">
        <v-text-field class="mr-2" hide-details hide-actions hide-controls
          v-model="person.position" dense single-line filled></v-text-field>
        <v-autocomplete :rules="validationRules.requireRules" :items="userList" class="jh-v-input" item-text="username" item-value="userId" dense single-line filled v-model="person.userId"></v-autocomplete>

        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-if="!readonly" icon small v-bind="attrs" v-on="on">
              <v-icon size="14">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="deleteTodo(index)">
              <v-list-item-title>删除</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    </div>
  </div>
</template>

<script type="module">
  Vue.component("task-approval-person-list", {
    template: '#task-approval-person-list',
    props: {
      personList: {
        type: Array,
        default: () => [],
      },
      // 是否只读
      readonly: {
        type: Boolean,
        default: false,
      },
    },
    data: () => ({
      validationRules: {
        requireRules: [
          v => !!v || '必填',
        ],
      },

      userList: [],
    }),
    created() {
      this.getUserList();
    },
    methods: {
      addTodo() {
        this.personList.push({ userId: '', position: `岗位${this.personList.length+1}` });
        this.$emit('update:personList', this.personList)
      },
      deleteTodo(index) {
        this.personList.splice(index, 1);
        this.$emit('update:personList', this.personList)
      },
      async getUserList() {
        const rows = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'allPage',
              actionId: 'getUserList',
              actionData: {},
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        })).data.appData.resultData.rows;
        this.userList = rows;
      },
    },
  })
</script>
<style scoped>

 
</style>