<template id="view-notice-detail-drawer">
  <v-navigation-drawer v-model="isDrawerShown" :permanent="isDrawerShown" fixed temporary right width="80%"
    class="elevation-24">
    <v-form ref="updateForm" lazy-validation>
      <!-- 抽屉标题 -->
      <v-row no-gutters>
        <span class="text-h7 font-weight-bold pa-4">查看通知</span>
      </v-row>
      <v-divider class="jh-divider"></v-divider>
      <!-- 抽屉表单 -->
      <v-row class="mt-0 px-4">
        <!-- <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.xxxId" :rules="validationRules.requireRules"></v-text-field> -->

        <v-col cols="12" sm="12" md="4">
          <span class="jh-input-label"><span class="red--text">*</span>日志名称</span>
          <v-text-field class="jh-v-input" dense single-line filled v-model="detail.taskTitle" readonly></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4">
          <span class="jh-input-label"><span class="red--text">*</span>发给谁</span>
          <v-text-field class="jh-v-input" dense single-line filled v-model="detail.taskMemberIdList"
            readonly></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="12">
          <span class="jh-input-label"><span class="red--text">*</span>日志内容
            <v-textarea class="jh-v-input" dense single-line filled v-model="detail.taskContent" readonly></v-textarea>
        </v-col>
      </v-row>
    </v-form>
    <!-- 抽屉关闭按钮 -->
    <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
      @click="isDrawerShown = false">
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </v-navigation-drawer>
</template>

<script type="module">
  Vue.component("view-notice-detail-drawer", {
    template: '#view-notice-detail-drawer',
    data: () => ({
      isDrawerShown: false,
      detail: {},
    }),
    created() {
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'open':
            await this.open(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      async open({ item }) {
        this.isDrawerShown = true;
        this.detail = item
      },
    },
  })
</script>
<style scoped>
  .text-decoration-line-through {
    text-decoration: line-through;
  }

  .todo-item {
    padding: 4px 0 4px 4px;
  }

  .todo-item input {
    padding: 0;
  }

  .todo-item-text {
    width: 100%;
  }
</style>