{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <div class="py-4 text-body-1 font-weight-bold">月工资明细 - {{ lastYear ? lastYear + '年' + lastMonth + '月' : '暂无记录' }}
        <!-- 帮助页按钮 -->
        <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-2" @click="isHelpPageDrawerShown = true">
          <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
        </span>
      </div>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
        <v-row class="ma-0 pa-4">

          <v-col cols="12" xs="8" sm="8" md="8" xl="8" class="pa-0">
          </v-col>

          <v-spacer></v-spacer>

          <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-0">
            <v-text-field v-model="searchInput" label="表格过滤" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
        </v-row>
        <v-data-table fixed-header
                      :headers="headers"
                      :items="tableData"
                      :search="searchInput"
                      :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                      :items-per-page="20"
                      mobile-breakpoint="0"
                      :loading="isTableLoading"
                      checkbox-color="success"
                      class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
          <template v-slot:item.action="{ item }">
            <!-- <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('startUpdateItem', {item})">
              <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>修改
            </span> -->
            <span role="button" class="error--text text--accent-2 font-weight-medium font-size-2" @click="doUiAction('deleteItem', {item})">
              <v-icon size="16" class="error--text">mdi-trash-can-outline</v-icon>删除
            </span>
          </template>
                
          <!-- 没有数据 -->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
            <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
      </v-card>

    </div>


    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
      <iframe
        style="border: 0" :src="`/${appInfo.appId}/pageDoc#salary.md`" width="100%"
        height="100%"></iframe>

      <v-btn
        elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
        @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />

</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    isHelpPageDrawerShown: false,
    // 表格相关数据
    isTableZebraLineShown: true,
    validationRules: {
      requireRules: [
        v => !!v || 'This is required',
      ],
    },
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    constantObj: {
    },

    serverSearchInput: {
      studentId: null,
      classId: null
    },
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    // 不能进行编辑的列
    unEditColumns: ['id', 'employeeName', 'employeeId', 'checkStatus', 'startTime', 'endTime', 'createUserId', 'createTime', 'operationByUser', 'operationAt'],
    headers: [
      // {text: '操作', value: 'action', align: 'center', sortable: false, width: 120, class: 'fixed', cellClass: 'fixed'},
      // {text: "ID", value: "id", width: 80, class: 'fixed', cellClass: 'fixed'},
      // {text: "员工", value: "employeeName", width: 120}, 
      // {text: "实际计薪时长", value: "actualWorkDay", width: 120}, 
      // {text: "月计薪时长", value: "needWorkDay", width: 120}, 
      // {text: "年", value: "year", width: 120}, 
      // {text: "月", value: "month"}, 
      // {text: "", value: "", sortable: false}, 

      {text: "员工姓名", value: "employeeName", width: 120}, 
      {text: "员工Id", value: "employeeId", width: 120}, 
      {text: "状态", value: "checkStatus", width: 90}, 
      // {text: "年", value: "year", width: 120}, 
      // {text: "月", value: "month", width: 120}, 
      {text: "计薪开始日期", value: "startTime", width: 120}, 
      {text: "计薪结束日期", value: "endTime", width: 120}, 
      {text: "应发工资", value: "expectedPaySalary", width: 120}, 
      {text: "应扣款", value: "deductionAmount", width: 120}, 
      {text: "实发工资", value: "realPaySalary", width: 120}, 
      {text: "假期工资", value: "holidaySalary", width: 120}, 
      {text: "课时工资", value: "sessionHourSalary", width: 120}, 
      {text: "工作量津贴", value: "workloadAllowance", width: 120}, 
      {text: "超课时津贴", value: "overtimeAllowance", width: 120}, 
      {text: "晚4津贴+培优", value: "nightAllowance", width: 120}, 
      {text: "教师值日津贴+励志培训", value: "dutyAllowance", width: 120}, 
      {text: "特殊班代课津贴", value: "specialClassSubstitutionAllowance", width: 120}, 
      {text: "双休补贴", value: "weekendSubsidy", width: 120}, 
      {text: "考试教学绩效", value: "examinationTeachingPerformance", width: 120}, 
      {text: "常规教学绩效", value: "regularTeachingPerformance", width: 120}, 
      {text: "社团教学绩效", value: "communityTeachingPerformance", width: 120}, 
      {text: "职称津贴", value: "professionalTitleAllowance", width: 120}, 
      {text: "年级组长津贴", value: "gradeTeamLeaderAllowance", width: 120}, 
      {text: "教研组长津贴", value: "researchLeaderAllowance", width: 120}, 
      {text: "班主任津贴", value: "classTeacherAllowance", width: 120}, 
      {text: "月考命题补贴", value: "monthPropositionalSubsidy", width: 120}, 
      {text: "教龄津贴", value: "teachingAgeAllowance", width: 120}, 
      {text: "备课组长津贴", value: "preparationTeamLeaderAllowance", width: 120}, 
      {text: "管理岗位工资", value: "managementPositionSalary", width: 120}, 
      {text: "教辅岗位工资", value: "teachingAssistantsSalary", width: 120}, 
      {text: "招生补贴", value: "enrollmentSubsidy", width: 120}, 
      {text: "补五险一金", value: "supplementarySocialBenefit", width: 120}, 
      {text: "特殊人才津贴", value: "specialTalentAllowance", width: 120}, 
      {text: "提留工资", value: "retainWage", width: 120}, 
      {text: "党支部活动补贴", value: "partyBranchActivitySubsidy", width: 120}, 
      {text: "用车补贴", value: "carSubsidy", width: 120}, 
      {text: "代课工资", value: "substitutSalary", width: 120}, 
      {text: "校龄补贴及其他", value: "schoolAgeAllowanceAndOther", width: 120}, 
      {text: "校龄补贴", value: "schoolAgeAllowance", width: 120}, 
      {text: "其他补贴", value: "otherAllowances", width: 120}, 
      {text: "缺勤请假+（扣除课时费）", value: "deductionForLeave", width: 120}, 
      {text: "违规罚款", value: "penaltyForViolation", width: 120}, 
      {text: "水电费", value: "utilityCost", width: 120}, 
      {text: "个人所得税", value: "personalTax", width: 120}, 
      {text: "社保代缴", value: "socialSecurityPaymentAgency", width: 120}, 
      {text: "申请单间费用", value: "singleRoomFee", width: 120}, 
      {text: "伙食费", value: "mealExpenses", width: 120}, 
      {text: "工作服费用", value: "workUniformExpenses", width: 120}, 
      { text: "创建者", value: "createUserId", width: 120 },
      { text: "创建时间", value: "createTime", width: 250 },
      { text: "操作者", value: "operationByUser", width: 120 },
      { text: "操作时间", value: "operationAt", width: 250 },
    ],
    isUpdateDrawerShown: false,
    editItem: {},
    isCreateDrawerShown: false,
    addItem: {},
    lastYear: '',
    lastMonth: '',
    isEditOnlineDrawerShow: false,
    batchTableData: [],
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend;
    }
  },
  watch: {},
  async created() {
    const searchParams = new URLSearchParams(location.search.substring(1));
    this.lastYear = searchParams.get('year');
    this.lastMonth = searchParams.get('month');
    await this.doUiAction('refreshTableData');
  },
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================
    /**
     * uiActionId:  prepareValidate
     * description: ✅表单校验
    */
    async prepareValidate() {
      if (this.$refs.form.validate() === false) {
        window.vtoast.fail({ message: "输入有误, 请检查!" });
        throw new Error("[prepareValidate] false");
      }
    },

    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
    */
    async refreshTableData() {
      this.isTableLoading = true;
      const serverSearchInput = _.pickBy(this.serverSearchInput, value=> !!value);
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'monthEmpHistory',
            actionId: 'selectItemList',
            actionData: {},
            where: {year: this.lastYear, month: this.lastMonth},
            whereLike: serverSearchInput,
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;

      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },
    // =================================uiAction 公共方法 end ======================================
  }
})
</script>

<style scoped>
  .v-text-field--filled>.v-input__control>.v-input__slot {
    align-items: stretch;
    min-height: unset;
  }
</style>
{% endblock %}
