{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <v-row class="align-center">
        <v-col cols="12" xs="12" sm="12" md="4" xl="3">
          <div class="py-4 text-body-1 font-weight-bold">薪资导入
            <!-- 帮助页按钮 -->
            <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-2" @click="isHelpPageDrawerShown = true">
              <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
            </span>
          </div>
        </v-col>
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
        <v-row class="ma-0 pa-4">
          <!-- 新增按钮 -->
          <v-btn color="success" small @click="doUiAction('startImportFile', { title: '新增', action: 'add' })">薪资导入</v-btn>
          <v-col cols="12" md="3" class="pa-0" v-if="uploadFile">
            <v-file-input v-model="uploadFile" class="cus-v-input" accept=".xlsx,.xls" @click:clear="doUiAction('clearImportData')"  dense filled single-line small-chips @change="doUiAction('readExcelData')" label="请选择文件" disabled></v-file-input>
          </v-col>
          <v-col cols="12" md="3" class="pa-0 pl-2" v-if="uploadFile">
            <v-select v-if="constantObj.sheetList.length" v-model="currentSheet" color="success" prefix="工作表：" class="jh-v-input" :items="constantObj.sheetList" dense filled single-line></v-select>
          </v-col>
          <v-spacer></v-spacer>
          <v-btn color="success" small @click="doUiAction('importStudentData')" v-if="tableData.length > 0">提交</v-btn>
        </v-row>
        <!-- 表格 -->
        <v-data-table
          :headers="headers"
          :items="tableData"
          :search="searchInput"
          :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页', itemsPerPageAllText: '所有'}"
          :items-per-page="-1"
          mobile-breakpoint="0"
          :loading="isTableLoading"
          checkbox-color="success"
          :class="{'zebraLine': isTableZebraLineShown }"
          fixed-header
          class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
          <!-- 描述 -->
          <template v-slot:item.errorDesc="{ item }">
            <span v-if="item.errorDesc !== '正常'" class="error--text">{{item.errorDesc}}</span>
            <span v-else class="success--text">【{{item.errorDesc}}】</span>
          </template>
          <!-- 没有数据 -->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
            <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
      </v-card>
      <!-- <<<<<<<<<<<<< 页面内容 -->

      <!-- 新建场景dialog >>>>>>>>>>> -->
      <v-dialog
        v-model="isCreateImportDialogShown"
        persistent
        width="360px"
      >
        <v-card>
          <v-card-title>
            <v-row class="ma-0">
              <div style="font-size: 16px;">薪资导入</div>
              <v-spacer></v-spacer>
              <!-- <v-btn class="elevation-0" fab x-small @click="isCreateImportDialogShown = false">
                <v-icon dark>mdi-close</v-icon>
              </v-btn> -->
            </v-row>
          </v-card-title>
          <v-card-text>
            <div class="mb-2">
              <span class="jh-input-label">模板下载</span>
              <br>
              <a href="javascript:;" @click="downloadPreviewFile">工资导入模板.excel</a>
            </div>
            <div class="mb-2">
              <span class="jh-input-label">选择导入文件</span>
              <v-file-input v-model="uploadFileCopy" class="cus-v-input" accept=".xlsx,.xls"  dense filled single-line small-chips label="请选择文件"></v-file-input>
            </div>
          </v-card-text>
          <v-card-action class="pb-4">
            <v-row class="ma-0 pa-6 pt-2 justify-end">
              <v-btn class="ml-2" @click="doUiAction('confirmReadExcelFile')" small color="success">确认</v-btn>
              <v-btn class="ml-2" @click="isCreateImportDialogShown = false" small>取消</v-btn>
            </v-row>
          </v-card-action>
        </v-card>
      </v-dialog>
      <!-- <<<<<<<<<<<<<< 新建场景dialog -->
    </div>

    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isHelpPageDrawerLoaded" v-model="isHelpPageDrawerShown" :permanent="isHelpPageDrawerShown" fixed temporary right width="80%" class="elevation-24">
      <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#404.md`" width="100%" height="100%"></iframe>
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />
</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<script lang="javascript" src="/<$ ctx.app.config.appId $>/public/js/xlsx.full.min.js"></script>
<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    isHelpPageDrawerShown: false,
    isHelpPageDrawerLoaded: false,
    isMobile: window.innerWidth < 500,

    // 表格相关数据
    isTableZebraLineShown: true,
    validationRules: {
      requireRules: [
        v => !!v || 'This is required',
      ],
    },
    // 下拉选项
    constantObj: {
      sheetList: [],
    },
    currentSceneId: null,
    searchInput: null,
    isTableLoading: false,
    tableData: [],
    headers: [
      {text: "员工姓名", value: "employeeName", width: 120}, 
      {text: "员工Id", value: "employeeId", width: 120}, 
      {text: "描述", value: "errorDesc", width: 200},
      {text: "年", value: "year", width: 120}, 
      {text: "月", value: "month", width: 120}, 
      {text: "计薪开始日期", value: "startTime", width: 120}, 
      {text: "计薪结束日期", value: "endTime", width: 120}, 
      {text: "应发工资", value: "expectedPaySalary", width: 120}, 
      {text: "应扣款", value: "deductionAmount", width: 120}, 
      {text: "实发工资", value: "realPaySalary", width: 120}, 
      {text: "假期工资", value: "holidaySalary", width: 120}, 
      {text: "课时工资", value: "sessionHourSalary", width: 120}, 
      {text: "工作量津贴", value: "workloadAllowance", width: 120}, 
      {text: "超课时津贴", value: "overtimeAllowance", width: 120}, 
      {text: "晚4津贴+培优", value: "nightAllowance", width: 120}, 
      {text: "教师值日津贴+励志培训", value: "dutyAllowance", width: 120}, 
      {text: "特殊班代课津贴", value: "specialClassSubstitutionAllowance", width: 120}, 
      {text: "双休补贴", value: "weekendSubsidy", width: 120}, 
      {text: "考试教学绩效", value: "examinationTeachingPerformance", width: 120}, 
      {text: "常规教学绩效", value: "regularTeachingPerformance", width: 120}, 
      {text: "社团教学绩效", value: "communityTeachingPerformance", width: 120}, 
      {text: "职称津贴", value: "professionalTitleAllowance", width: 120}, 
      {text: "年级组长津贴", value: "gradeTeamLeaderAllowance", width: 120}, 
      {text: "教研组长津贴", value: "researchLeaderAllowance", width: 120}, 
      {text: "班主任津贴", value: "classTeacherAllowance", width: 120}, 
      {text: "月考命题补贴", value: "monthPropositionalSubsidy", width: 120}, 
      {text: "教龄津贴", value: "teachingAgeAllowance", width: 120}, 
      {text: "备课组长津贴", value: "preparationTeamLeaderAllowance", width: 120}, 
      {text: "管理岗位工资", value: "managementPositionSalary", width: 120}, 
      {text: "教辅岗位工资", value: "teachingAssistantsSalary", width: 120}, 
      {text: "招生补贴", value: "enrollmentSubsidy", width: 120}, 
      {text: "补五险一金", value: "supplementarySocialBenefit", width: 120}, 
      {text: "特殊人才津贴", value: "specialTalentAllowance", width: 120}, 
      {text: "提留工资", value: "retainWage", width: 120}, 
      {text: "党支部活动补贴", value: "partyBranchActivitySubsidy", width: 120}, 
      {text: "用车补贴", value: "carSubsidy", width: 120}, 
      {text: "代课工资", value: "substitutSalary", width: 120}, 
      {text: "校龄补贴及其他", value: "schoolAgeAllowanceAndOther", width: 120}, 
      {text: "校龄补贴", value: "schoolAgeAllowance", width: 120}, 
      {text: "其他补贴", value: "otherAllowances", width: 120}, 
      {text: "缺勤请假+（扣除课时费）", value: "deductionForLeave", width: 120}, 
      {text: "违规罚款", value: "penaltyForViolation", width: 120}, 
      {text: "水电费", value: "utilityCost", width: 120}, 
      {text: "个人所得税", value: "personalTax", width: 120}, 
      {text: "社保代缴", value: "socialSecurityPaymentAgency", width: 120}, 
      {text: "申请单间费用", value: "singleRoomFee", width: 120}, 
      {text: "伙食费", value: "mealExpenses", width: 120}, 
      {text: "工作服费用", value: "workUniformExpenses", width: 120}, 
    ],

    uploadFile: null,
    uploadFileCopy: null,
    currentSheet: '',
    employeeData: [],
    billData: [],
    importPaymentType: null,
    isCreateImportDialogShown: false,
    salaryTmpFileUrl: '/<$ ctx.app.config.appId $>/public/工资导入模板.xlsx'
  }),
  computed: {},
  watch: {
    isHelpPageDrawerShown(val) {
      if (val && !this.isHelpPageDrawerLoaded) {
        this.isHelpPageDrawerLoaded = true;
      }
    },
    currentSheet(val) {
      this.doUiAction('readExcelData');
    }
  },
  async created() {},
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'readExcelData':
          await this.readExcelDataList();
          await this.checkSalaryData();
          break; 
        case 'confirmReadExcelFile':
          await this.closeCreateImportDialog();
          this.uploadFile = this.uploadFileCopy;
          await this.doUiAction('readExcelData')
          break;
        case 'importStudentData':
          await this.doImportSalaryData();
          setTimeout(async () => {
            await this.checkSalaryData();
          }, 500);
          break;
        case 'startImportFile':
          await this.openImportDialog();
          break;
        case 'closeCreateImportDialog':
          this.closeCreateImportDialog();
          break;
        case 'clearImportData': 
          await this.clearImportData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", {uiActionId});
          break;
      }
    },

    // ---------- 读取excel数据 uiAction >>>>>>>>>> --------
    async process_RS(stream) {
      const buffers = [];
      const reader = stream.getReader();
      for (; ;) {
        const res = await reader.read();
        if (res.value) buffers.push(res.value);
        if (res.done) break;
      }

      /* concat */
      const out = new Uint8Array(buffers.reduce((acc, v) => acc + v.length, 0));

      let off = 0;
      for (const u8 of buffers) {
        out.set(u8, off);
        off += u8.length;
      }
      return out;
    },

    async readExcelDataList() {
      if (!this.uploadFile) {
        window.vtoast.fail({ message: '请选择excel文件' });
        throw new Error('请选择excel文件');
      }

      if (this.isTableLoading) {
        return false;
      }

      this.tableData = [];
      this.isTableLoading = true;

      //读取excel数据
      const data = await this.process_RS(this.uploadFile.stream());
      const workbook = XLSX.read(data, { type: 'array' });

      // 获取所有工作表名 SheetNames
      this.constantObj.sheetList = workbook.SheetNames;
      if (!this.currentSheet) {
        this.currentSheet = workbook.SheetNames[0];
      }

      //读取工作表数据
      const worksheet1 = workbook.Sheets[this.currentSheet];
      const rows = XLSX.utils.sheet_to_json(worksheet1);

      //删除第一条表头数据
      let excelData = _.cloneDeep(rows);
      excelData.shift();

      this.excelData = excelData;
      this.isTableLoading = false;
    },
    async checkSalaryData() {
      if(this.excelData.length > 0){
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'salaryImport',
              actionId: 'checkSalaryData',
              actionData: { importData: this.excelData }
            }
          }
        });
        this.tableData = result.data.appData.resultData.rows;
        this.isTableLoading = false;
      }
    },
    // ---------- <<<<<<<<<<< 读取excel数据 uiAction  --------

    // ---------- 导入数据 uiAction >>>>>>>>>>>> --------
    async doImportSalaryData() {
      const importData = this.tableData.filter(item => item.errorDesc === '正常');
      if (importData.length === 0) {
        window.vtoast.fail({ message: '没有需要导入的数据' });
        return;
      }

      window.vtoast.loading({ message: '导入中', time: -1 });
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'salaryImport',
            actionId: 'importSalaryData',
            actionData: { importData }
          }
        }
      });
      window.vtoast.success({ message: '导入成功' });
    },
    // ---------- <<<<<<<<<<< 导入数据 uiAction  --------

    // ---------- 清空导入数据 uiAction >>>>>>>>>> --------
    async clearImportData (){
      this.excelData = [];
      this.tableData = [];
      this.currentSheet = '';
      this.isTableLoading = false;
    },
    // ---------- <<<<<<<<<<< 清空导入数据 uiAction  --------

    // ---------- 导入弹窗 uiAction >>>>>>>>>> --------
    async openImportDialog() {
      this.isCreateImportDialogShown = true;
    },
    // ---------- <<<<<<<<<<< 导入弹窗 uiAction  --------
    closeCreateImportDialog() {
      this.isCreateImportDialogShown = false;
    },

    /**
     * uiActionId: downloadPreviewFile
     * description: ✅下载正在预览的文件
     * main:   [{"function":"downloadPreviewFile"}]
    */
    async downloadPreviewFile() {
      const oReq = new XMLHttpRequest();
      const url = this.salaryTmpFileUrl;
      const filename = '工资导入模版.xlsx';
      oReq.open("GET", url, true);
      oReq.responseType = "arraybuffer";
      oReq.onprogress = function (event) {
        if (event.lengthComputable) {
          const progress = Number((event.loaded * 100 / event.total).toFixed(2));
          window.vtoast.loading(`文件下载进度${progress}%`);
          if (progress === 100) {
            window.vtoast.success('文件下载成功');
          }
        }
      }
      oReq.onload = function (oEvent) {
        const buffer = oReq.response;
        let url = window.URL.createObjectURL(new Blob( [buffer], {type: "arraybuffer"}) )
        const link = document.createElement('a');
        link.style.display = 'none';
        link.href = url;
        link.setAttribute('download', filename);
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      };
      oReq.send(null);
    }
  }
})
</script>

<style scoped>
</style>
{% endblock %}
