{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <v-row class="align-center">
        <v-col cols="12" xs="12" sm="12" md="4" xl="3">
          <div class="py-4 text-body-1 font-weight-bold">历史工资
            <!-- 帮助页按钮 -->
            <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-2" @click="isHelpPageDrawerShown = true">
              <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
            </span>
          </div>
        </v-col>
        <!-- pc端的搜索条件表单 >>>>>>>> -->
        <v-col cols="12" xs="12" sm="12" md="8" xl="9">
          <v-row class="jh-backend-form-container justify-end ma-0 py-3">
            <v-col cols="12" xs="6" sm="6" md="4" xl="3" class="pa-0 pr-0 pr-sm-2">
              <v-select v-model="searchYear" color="success" prefix="" class="jh-v-input bg-white" :items="constantObj.year" dense filled single-line @change="doUiAction('refreshTableData')"></v-select>
            </v-col>
          </v-row>
        </v-col>
        <!-- <<<<<<<< pc端的搜索条件表单 -->
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
        <v-row class="ma-0 pa-4">

          <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pa-0">
            <!-- <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')">新增</v-btn> -->
          </v-col>

          <v-spacer></v-spacer>

          <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-0">
            <v-text-field v-model="searchInput" label="表格过滤" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
        </v-row>
        <v-data-table 
          fixed-header
          :headers="headers"
          :items="tableData"
          :search="searchInput"
          :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
          :items-per-page="20"
          mobile-breakpoint="0"
          :loading="isTableLoading"
          checkbox-color="success"
          class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column"
        >
          <template v-slot:item.action="{ item }">
            <!-- pc端 -->
            <template v-if="!isMobile">
              <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('jumpMonthEmp', {item})">
                <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>查看明细
              </span>
            </template>
            <!-- 手机端 -->
            <v-menu offset-y v-if="isMobile">
              <template v-slot:activator="{ on, attrs }">
                <span role="button" class="success--text font-weight-medium font-size-2"
                  v-bind="attrs" v-on="on">
                  操作<v-icon size="14" class="success--text">mdi-chevron-down</v-icon>
                </span>
              </template>
              <v-list dense>
                <v-list-item @click="doUiAction('jumpMonthEmp', {item})">
                  <v-list-item-title>查看明细</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
                
          <!-- 没有数据 -->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
            <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
      </v-card>
    </div>

    <!-- 新增 -->
    <v-navigation-drawer v-model="isCreateDrawerShown" :permanent="isCreateDrawerShown" fixed temporary right width="80%" class="elevation-24">
      <v-form v-model="isFormValid" v-if="isCreateDrawerShown" ref="form" lazy-validation>
        <v-row no-gutters>
          <span class="text-h7 font-weight-bold pa-4">添加信息</span>
        </v-row>
        <v-divider class="jh-divider"></v-divider>
        <v-row class="mt-0 px-4">
          
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">每月薪资记录id</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['sRecordId']"></v-text-field>
          </v-col>
          
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">薪资表总人数</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['salaryNum']"></v-text-field>
          </v-col>
          
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">发放人数</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['payNum']"></v-text-field>
          </v-col>
          
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">year</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['year']"></v-text-field>
          </v-col>
          
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">month</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['month']"></v-text-field>
          </v-col>
          
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">create_time</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['create_time']"></v-text-field>
          </v-col>
          
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">createUserId</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['createUserId']"></v-text-field>
          </v-col>
          
        </v-row>
        <v-row class="justify-end pr-6">
          <v-btn color="success" @click="doUiAction('createItem')">新增</v-btn>
          <v-btn class="ml-2" @click="isCreateDrawerShown = false">取消</v-btn>
        </v-row>
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn
        elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
        @click="isCreateDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>

    <!-- 编辑抽屉 -->
    <v-navigation-drawer v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right width="80%" class="elevation-24">
      <v-form v-model="isFormValid" v-if="isUpdateDrawerShown" ref="form" lazy-validation>
        <v-row no-gutters>
          <span class="text-h7 font-weight-bold pa-4">编辑信息</span>
        </v-row>
        <v-divider class="jh-divider"></v-divider>
        <v-row class="mt-0 px-4">
          
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">每月薪资记录id</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['sRecordId']"></v-text-field>
          </v-col>
          
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">薪资表总人数</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['salaryNum']"></v-text-field>
          </v-col>
          
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">发放人数</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['payNum']"></v-text-field>
          </v-col>
          
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">year</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['year']"></v-text-field>
          </v-col>
          
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">month</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['month']"></v-text-field>
          </v-col>
          
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">create_time</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['create_time']"></v-text-field>
          </v-col>
          
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">createUserId</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['createUserId']"></v-text-field>
          </v-col>
        </v-row>
        <v-row class="justify-end mx-0 mt-8 px-6">
          <v-btn color="success" @click="doUiAction('updateItem')">保存</v-btn>
          <v-btn class="ml-2" @click="isUpdateDrawerShown = false">取消</v-btn>
        </v-row>
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn
        elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
        @click="isUpdateDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
      <iframe
        style="border: 0" :src="`/${appInfo.appId}/pageDoc#3.doUiAction.md`" width="100%"
        height="100%"></iframe>

      <v-btn
        elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
        @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

</v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />

</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    isHelpPageDrawerShown: false,
    // 表格相关数据
    isTableZebraLineShown: true,
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    constantObj: {
      year: []
    },

    serverSearchInput: {
      studentId: null,
      classId: null
    },
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
       
      {text: "每月薪资记录id", value: "sRecordId", width: 200}, 
      {text: "薪资表总人数", value: "num", width: 120}, 
      // {text: "发放人数", value: "payNum", width: 120}, 
      {text: "年", value: "year", width: 90}, 
      {text: "月", value: "month", width: 90}, 
      {text: "实发工资", value: "realPaySalary", width: 120}, 
      // {text: "create_time", value: "create_time", width: 120}, 
      // {text: "createUserId", value: "createUserId", width: 120}, 
      {text: "操作者", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250},
      // {text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed'},
      {text: "操作", value: "action", align: 'center', width: window.innerWidth < 500 ? 80 : 120, class: 'fixed', cellClass: 'fixed'},
    ],
    isUpdateDrawerShown: false,
    editItem: {},
    isCreateDrawerShown: false,
    addItem: {},
    searchYear: null,
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend;
    }
  },
  watch: {},
  async created() {
    this.searchYear = dayjs().year();
    for (let i = -1; i < 10; i++) {
      this.constantObj.year.push(this.searchYear - i);
    }
    await this.doUiAction('refreshTableData');
  },
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        case 'startCreateItem':
          await this.clearItemData();
          await this.openCreateItemDialog();
          break;
        case 'createItem':
          await this.prepareValidate();
          await this.confirmCreateItemDialog();
          await this.doCreateItem();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'startUpdateItem':
          await this.prepareItemData(uiActionData);
          await this.openUpdateDialog();
          break;
        case 'updateItem':
          await this.prepareValidate();
          await this.confirmUpdateItemDialog();
          await this.doUpdateItem();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'deleteItem':
          await this.confirmDeleteItemDialog();
          await this.doDeleteItem(uiActionData);
          await this.refreshTableData();
          break;
        case 'jumpMonthEmp':
          await this.jumpMonthEmp(uiActionData);
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================
    /**
     * uiActionId:  prepareValidate
     * description: ✅表单校验
    */
    async prepareValidate() {
      if (this.$refs.form.validate() === false) {
        window.vtoast.fail({ message: "输入有误, 请检查!" });
        throw new Error("[prepareValidate] false");
      }
    },

    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
    */
    async refreshTableData() {
      this.isTableLoading = true;
      const serverSearchInput = _.pickBy(this.serverSearchInput, value=> !!value);
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'slipRecordManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: {year: this.searchYear},
            whereLike: serverSearchInput,
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;

      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },
    // =================================uiAction 公共方法 end ======================================


    /**
     * uiActionId:  startCreateItem
     * description: ✅获取表格数据
    */
    async clearItemData() {
      this.addItem = {};
    },
    async openCreateItemDialog() {
      this.isCreateDrawerShown = true;
    },

    /**
     * uiActionId:  createItem
     * description: ✅获取表格数据
    */
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doCreateItem() {
      const { id, ...data } = this.addItem;
      await window.vtoast.loading("新增数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'slipRecordManagement',
            actionId: 'insertItem',
            actionData: data
          }
        }
      })
      await window.vtoast.success("新增数据成功");
    },
    async closeDrawerShow() {
      this.isUpdateDrawerShown = false;
      this.isCreateDrawerShown = false;
    },

    /**
     * uiActionId:  startUpdateItem
     * description: ✅获取表格数据
    */
    async prepareItemData({item}) {
      this.editItem = {...item};
    },
    async openUpdateDialog() {
      this.isUpdateDrawerShown = true;
    },
    /**
     * uiActionId:  updateItem
     * description: ✅获取表格数据
    */
    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doUpdateItem() {
      const { id, ...data } = this.editItem;
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'slipRecordManagement',
            actionId: 'updateItem',
            actionData: data,
            where: {id}
          }
        }
      })
      await window.vtoast.success("修改数据成功");
    },

    /**
     * uiActionId:  deleteItem
     * description: ✅获取表格数据
    */
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doDeleteItem({item}) {
      const { id } = item;
      await window.vtoast.loading("删除数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'slipRecordManagement',
            actionId: 'deleteItem',
            actionData: {},
            where: { id: id }
          }
        }
      });
      await window.vtoast.success("删除数据成功");
    },
    async jumpMonthEmp({item}) {
      const { id, year, month } = item;
      window.location.href = `/${window.appInfo.appId}/page/monthEmpHistory?year=${year}&month=${month}`;
    }
  }
})
</script>

<style scoped>
</style>
{% endblock %}
