{% block htmlHead %}
{% endblock %}

{% extends 'template/jhTemplateV4.html'%}
{% block vueTemplate %}
<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-13">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-3 px-sm-8">
      <v-row class="align-center" no-gutters>
        <v-col cols="12" sm="12" md="4" xl="3" :cols="12" :sm="6" :md="4" >
          <div class="py-4 text-body-1 font-weight-bold align-center d-flex align-center">应用管理
            <!-- 帮助页按钮 -->
            <v-icon size="15" class="black--text ml-1" @click="isHelpPageDrawerShown = true">mdi-help-circle</v-icon>
          </div>
        </v-col>
          <!-- 自定义搜索内容 -->
          <v-spacer ></v-spacer>
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->
    <!-- 页面内容 >>>>>>>>>>>>> -->
    <div class="jh-page-body-container px-sm-8">
      <v-row class="pa-0 ma-0">
        <v-col class="pa-0"  :clos="12">
          <!-- 表格顶部栏 -->
          <v-card  class="rounded-lg elevation-0">
            <v-row class="ma-0 pb-3 pa-0 px-3 px-md-0" align="center">
              <v-btn color="success" class="mr-2" @click="doUiAction('startCreateItem')" small>
            新增
          </v-btn>
              <v-spacer ></v-spacer>
              <v-col cols="12" sm="6" md="3" class="pa-0">
            <v-text-field prefix="筛选" v-model="searchInput" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
            </v-row>
            <!-- 表格 -->
            <v-data-table
              :headers="headers"
              :items="tableDataComputed"
              :search="searchInput"
              :footer-props="{ itemsPerPageOptions: [20, 50, 200, -1], itemsPerPageText: '每页', itemsPerPageAllText: '所有'}"
              :items-per-page="-1"
              mobile-breakpoint="0"
              :loading="isTableLoading"
              checkbox-color="success"
              :class="{'zebraLine': true }"
              fixed-header
              class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4"
            >

              <!-- 表格插槽 -->
              

              <!-- 自定义渲染列 -->
              <!-- 表格操作按钮 -->
              <template v-slot:item.action="{ item }">
                <!-- pc端 -->
                <template v-if="!isMobile">
                  <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('startUpdateItem', item)" >
                    <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>编辑
                  </span>
                  <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('viewUserList', item)" >
                    <v-icon size="16" class="success--text">mdi-account-supervisor</v-icon>用户列表
                  </span>
                  <span role="button" class="error--text font-weight-medium font-size-2 mr-2" @click="doUiAction('deleteItem', item)" >
                    <v-icon size="16" class="error--text">mdi-trash-can-outline</v-icon>删除
                  </span>
                </template>
                <!-- 手机端 -->
                <v-menu offset-y v-if="isMobile">
                  <template v-slot:activator="{ on, attrs }">
                    <span role="button" class="success--text font-weight-medium font-size-2"
                      v-bind="attrs" v-on="on">
                      <v-icon size="20" class="success--text">mdi-chevron-down</v-icon>操作
                    </span>
                  </template>
                  <v-list dense>
                    <v-list-item @click="doUiAction('startUpdateItem', item)" >
                      <v-list-item-title>编辑</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="doUiAction('viewUserList', item)" >
                      <v-list-item-title>用户列表</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="doUiAction('deleteItem', item)" >
                      <v-list-item-title>删除</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
              <!-- 没有数据 -->
              <template v-slot:loading>
                <div class="jh-no-data">数据加载中</div>
              </template>
              <template v-slot:no-data>
                <div class="jh-no-data">暂无数据</div>
              </template>
              <template v-slot:no-results>
                <div class="jh-no-data">暂无数据</div>
              </template>
              <!-- 表格分页 -->
              <template v-slot:footer.page-text="pagination">
                <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                <span class="ml-1">共{{pagination.itemsLength}}条</span>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 页面内容 -->
    <!-- 新增 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isCreateDrawerShown" v-model="isCreateDrawerShown" :permanent="isCreateDrawerShown" fixed temporary right width="90%" class="elevation-24" >
      <v-form ref="createForm" lazy-validation>
        
        <!-- 抽屉标题 -->
        <v-row class="jh-drawer-header px-4" no-gutters align="center">
          <span class="text-h7 font-weight-bold py-4">新增</span>
          <v-spacer ></v-spacer>
          <div class="jh-drawer-action-btn-group">
            <v-btn class="elevation-0 grey lighten-4" @click="closeCreateDrawerCheck" small>取消</v-btn>
            <!-- 抽屉操作按钮 -->
            <template v-if="true">
              <v-btn color="success" small class="ml-2" @click="doUiAction('createItem')">
              新增
            </v-btn>
            </template>
          </div>
        </v-row>
        <v-divider class="jh-divider"></v-divider>
        <!-- 抽屉内容 -->

            <!-- 抽屉内容form -->
            <v-row class="mt-0 px-4 pb-4">
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label"><span class="red--text text--accent-2 ml-1">* </span>应用ID</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.appId" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label"><span class="red--text text--accent-2 ml-1">* </span>应用名</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.appName" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label">应用类型</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.appType"></v-text-field>
              </v-col>
            </v-row>

             <!-- 抽屉内容组件 -->
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="closeCreateDrawerCheck">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 新增 -->
    <!-- 编辑 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isUpdateDrawerShown" v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right width="90%" class="elevation-24" >
      <v-form ref="updateForm" lazy-validation>
        
        <!-- 抽屉标题 -->
        <v-row class="jh-drawer-header px-4" no-gutters align="center">
          <span class="text-h7 font-weight-bold py-4">编辑</span>
          <v-spacer ></v-spacer>
          <div class="jh-drawer-action-btn-group">
            <v-btn class="elevation-0 grey lighten-4" @click="closeUpdateDrawerCheck" small>取消</v-btn>
            <!-- 抽屉操作按钮 -->
            <template v-if="true">
              <v-btn color="success" small class="ml-2" @click="doUiAction('updateItem')">
              保存
            </v-btn>
            </template>
          </div>
        </v-row>
        <v-divider class="jh-divider"></v-divider>
        <!-- 抽屉内容 -->

            <!-- 抽屉内容form -->
            <v-row class="mt-0 px-4 pb-4">
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label">应用ID</span>
                <v-text-field disabled class="jh-v-input" dense single-line filled v-model="updateItem.appId"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label"><span class="red--text text--accent-2 ml-1">* </span>应用名</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.appName" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label">应用类型</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.appType"></v-text-field>
              </v-col>
            </v-row>

             <!-- 抽屉内容组件 -->
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="closeUpdateDrawerCheck">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 编辑 -->
    <!-- 用户列表 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isUserListDrawerShown" v-model="isUserListDrawerShown" :permanent="isUserListDrawerShown" fixed temporary right width="90%" class="elevation-24" >
      <v-form ref="userListForm" lazy-validation>
        
        <!-- 抽屉标题 -->
        <v-row class="jh-drawer-header px-4" no-gutters align="center">
          <span class="text-h7 font-weight-bold py-4">用户列表</span>
          <v-spacer ></v-spacer>
          <div class="jh-drawer-action-btn-group">
            <v-btn class="elevation-0 grey lighten-4" @click="closeUserListDrawerCheck" small>取消</v-btn>
            <!-- 抽屉操作按钮 -->
            <template v-if="true">
              
            </template>
          </div>
        </v-row>
        <v-divider class="jh-divider"></v-divider>
        <!-- 抽屉内容 -->

            <!-- 抽屉内容form -->
            <user-list :app-id="userListItem.appId" class="pa-4"/>
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="closeUserListDrawerCheck">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 用户列表 -->
    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isHelpPageDrawerLoaded" v-model="isHelpPageDrawerShown" :permanent="isHelpPageDrawerShown" fixed temporary right width="80%" class="elevation-24">
      <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#appManagement.md`" width="100%" height="100%"></iframe>
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
          <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />
</div>
</script>
<div id="app"></div>
{% endblock %}

{% block vueScript %}
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
{% include 'component/userList.html' %}

<script type="module">

new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({

    isMobile: window.innerWidth < 500,
    isHelpPageDrawerShown: false,
    isHelpPageDrawerLoaded: false,

    // ================================ 表格相关 ================================
    headers: [
      { text: "应用ID", value: "appId", width: 180 },
      { text: "应用名", value: "appName", width: 110 },
      { text: "应用类型", value: "appType", width: 80 },
      { text: "操作人", value: "operationByUser", width: 90 },
      { text: "操作时间", value: "operationAt", width: 150 },
      { text: "操作", value: "action", align: "center", sortable: false, width:window.innerWidth < 500 ? 80 : 200, class: "fixed", cellClass: "fixed" },
    ],
    tableData: [],
    isTableLoading: false,
    searchInput: null,
    columnSettingGroup: {},
    selectedColumnGroup: null,
    serverSearchWhere: {},
    serverSearchWhereLike: {},
    // ================================ 新建抽屉 ================================
    isCreateDrawerShown: false,
    createItem: {},
    createItemOrigin: {},
    createActionData: {},
    // ================================ 编辑抽屉 ================================
    isUpdateDrawerShown: false,
    updateItem: {},
    updateItemOrigin: {},
    updateItemId: null,
    updateActionData: {},
    // ================================ 删除 ================================
    deleteItem: {},
    deleteItemId: null,

    // ================================ common ================================
    constantObj: {},
    validationRules: {
      requireRules: [
        v => !!v || '必填'
      ]
    },
    testString: '测试字符串',
    serverSearchWhereLike: {
      className: ""
    },
    filterMap: {},
    isMobile: window.innerWidth < 500,

    // ================================ 其他抽屉列表 ================================
    isUserListDrawerShown: false,
    userListItem: {},
    userListItemOrigin: {},

    


  }),
  watch: {
    isHelpPageDrawerShown(val) {
      if (val && !this.isHelpPageDrawerLoaded) {
        this.isHelpPageDrawerLoaded = true;
      }
    },
  },
  computed: {
    tableDataComputed() {
      if(this.filterMap) {
        return this.tableData.filter(row => {
          for (const key in this.filterMap) {
            if (this.filterMap[key] && row[key] !== this.filterMap[key]) {
              return false;
            }
          }
          return true;
        });
      } else {
        return this.tableData;
      }
    },
    tableDataComputed() {
      return this.tableData;
    },
  },
  async created() {
    this.doUiAction('getTableData');
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      try {
        switch (uiActionId) {
          case 'getTableData':
            await this.getTableData(uiActionData);
            break;
          case 'startCreateItem':
            await this.prepareCreateFormData(uiActionData);
            await this.openCreateDrawer(uiActionData);
            break;
          case 'createItem':
            await this.prepareCreateValidate(uiActionData);
            await this.confirmCreateItemDialog(uiActionData);
            await this.prepareDoCreateItem(uiActionData);
            await this.doCreateItem(uiActionData);
            await this.closeCreateDrawer(uiActionData);
            await this.getTableData(uiActionData);
            break;
          case 'startUpdateItem':
            await this.prepareUpdateFormData(uiActionData);
            await this.openUpdateDrawer(uiActionData);
            break;
          case 'updateItem':
            await this.prepareUpdateValidate(uiActionData);
            await this.confirmUpdateItemDialog(uiActionData);
            await this.prepareDoUpdateItem(uiActionData);
            await this.doUpdateItem(uiActionData);
            await this.closeUpdateDrawer(uiActionData);
            await this.getTableData(uiActionData);
            break;
          case 'deleteItem':
            await this.prepareDeleteFormData(uiActionData);
            await this.confirmDeleteItemDialog(uiActionData);
            await this.prepareDoDeleteItem(uiActionData);
            await this.doDeleteItem(uiActionData);
            await this.getTableData(uiActionData);
            break;
          case 'viewUserList':
            await this.prepareUserListData(uiActionData);
            await this.openUserListDrawer(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", {uiActionId});
            break;
        }
      } catch (error) {
        window.jhMask && window.jhMask.hide();
        throw error;
      } finally {
        window.jhMask && window.jhMask.hide();
      }
    },
    // ---------- 获取表格数据 uiAction >>>>>>>>>> --------
    async getTableData() {
      this.isTableLoading = true;
      const where = {};
      const whereLike = {};
      const whereIn = {};
      for (const fieldKey in this.serverSearchWhere) {
        const fieldValue = this.serverSearchWhere[fieldKey];
        if(!!fieldValue && fieldValue != '全部') {
          if (_.isString(fieldValue)) {
            where[fieldKey] = fieldValue.trim();
          } else {
            where[fieldKey] = fieldValue;
          }
        }
      }
      for (const fieldKey in this.serverSearchWhereLike) {
        const fieldValue = this.serverSearchWhereLike[fieldKey];
        if(!!fieldValue && fieldValue != '全部') {
          if (_.isString(fieldValue)) {
            whereLike[fieldKey] = '%' + fieldValue.trim() + '%';
          } else {
            whereLike[fieldKey] = '%' + fieldValue + '%';
          }
        }
      }
      for (const fieldKey in this.serverSearchWhereIn) {
        const fieldValue = this.serverSearchWhereIn[fieldKey];
        if(!!fieldValue && _.isArray(fieldValue) && fieldValue.length > 0) {
          whereIn[fieldKey] = fieldValue;
        }
      }
      let orderBy = [{column: 'operationAt', order: 'desc'}];
      
      let limit = null;
      let offset = null;


      const {rows, count} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'appManagement',
            actionId: 'selectItemList',
            actionData: {},
            where,
            whereLike,
            whereIn,
            orderBy
          }
        }
      })).data.appData.resultData;
      
      this.tableData = this.formatTableData(rows);
      this.isTableLoading = false;
    },
    formatTableData(rows) {
      rows.forEach(row => {
        row.operationAt = row.operationAt ? dayjs(row.operationAt).format('YYYY-MM-DD HH:mm:ss') : '';
      });
      return rows;
    },
    // ---------- <<<<<<<<<<< 获取表格数据 uiAction ---------
    // ---------- 新增数据 uiAction >>>>>>>>>> --------
    async prepareCreateFormData() {
      this.createItem = {
      };
      this.createItemOrigin = _.cloneDeep(this.createItem);
    },
    async openCreateDrawer() {
      this.isCreateDrawerShown = true;
    },
    async prepareCreateValidate() {
      if (await this.$refs.createForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("[confirmCreateFormDialog] 否");
      }
    },
    prepareDoCreateItem() {
      const {id, ...data} = this.createItem;
      this.createActionData = {
        appId: data.appId,
        appName: data.appName,
        appType: data.appType,
      };
    },
    async doCreateItem() {
      await window.jhMask.show();
      await window.vtoast.loading("新增数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'appManagement',
            actionId: 'insertItem',
            actionData: this.createActionData
          }
        }
      })
      await window.jhMask.hide();
      await window.vtoast.success("新增数据成功");
    },
    async closeCreateDrawerCheck() {
      await this.closeCreateDrawer();
    },
    async closeCreateDrawer() {
      this.isCreateDrawerShown = false;
      this.createItem = {};
      this.createActionData = null;
    },
    // ---------- <<<<<<<<<<< 新增数据 uiAction ---------
    // ---------- 修改数据 uiAction >>>>>>>>>>>> --------
    async prepareUpdateFormData(funObj) {
      this.updateItem = _.cloneDeep(funObj);
      this.updateItemOrigin = _.cloneDeep(funObj);
    },
    async openUpdateDrawer() {
      this.isUpdateDrawerShown = true;
    },
    async prepareUpdateValidate() {
      if (await this.$refs.updateForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },
    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("[confirmUpdateItemDialog] 否");
      }
    },
    async prepareDoUpdateItem() {
      const {id, ...data} = this.updateItem;
      this.updateItemId = id;
      this.updateActionData = {
        appId: data.appId,
        appName: data.appName,
        appType: data.appType,
      };
    },
    async doUpdateItem() {
      await window.jhMask.show();
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'appManagement',
            actionId: 'updateItem',
            actionData: this.updateActionData,
            where: {id: this.updateItemId}
          }
        }
      })
      await window.jhMask.hide();
      await window.vtoast.success("修改数据成功");
    },
    async closeUpdateDrawerCheck() {
      await this.closeUpdateDrawer();
    },
    async closeUpdateDrawer() {
      this.isUpdateDrawerShown = false;
      this.updateItem = {};
      this.updateActionData = null;
      this.updateItemId = null;
    },
    // ---------- <<<<<<<<<<< 修改数据 uiAction ---------
    // ---------- 删除数据 uiAction >>>>>>>>>>>> --------
    async prepareDeleteFormData(funObj) {
      this.deleteItem = _.cloneDeep(funObj);
    },
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("[confirmDeleteItemDialog] 否");
      }
    },
    async prepareDoDeleteItem() {
      const {id} = this.deleteItem;
      this.deleteItemId = id;
    },
    async doDeleteItem() {
      await window.vtoast.loading("删除数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'appManagement',
            actionId: 'deleteItem',
            actionData: {},
            where: {id: this.deleteItemId}
          }
        }
      });
      await window.vtoast.success("删除数据成功");
    },
    async clearDeleteItem() {
      this.deleteItem = {};
      this.deleteItemId = null;
    },
    // ---------- <<<<<<<<<<< 删除数据 uiAction ---------

    // ---------- 抽屉列表 uiAction >>>>>>>>>>>> --------
    async prepareUserListData(funObj) {
      this.userListItem = _.cloneDeep(funObj);
      this.userListItemOrigin = _.cloneDeep(funObj);
    },
    async openUserListDrawer() {
      this.isUserListDrawerShown = true;
    },
    async closeUserListDrawerCheck() {
      await this.closeUserListDrawer();
    },
    async closeUserListDrawer() {
      this.isUserListDrawerShown = false;
    },
    // ---------- Custom uiAction >>>>>>>>>>>> --------
    // ---------- <<<<<<<<<<< Custom uiAction ---------

  }
})
</script>

<style scoped>
</style>{% endblock %}
