{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
  <v-app mobile-breakpoint="sm">
    <jh-menu />
    <v-main class="mt-15">
      <!-- 头部内容 >>>>>>>>>>>>> -->
      <div class="jh-page-second-bar px-8">
        <v-row class="align-center">
          <v-col cols="12" xs="12" sm="12" md="6" xl="6">
            <div class="py-4 text-body-1 font-weight-bold">用户的App权限管理&nbsp;&nbsp;|&nbsp;&nbsp;{{ title }}-{{ userId }}
              <!-- 帮助页按钮 -->
              <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-2" @click="isHelpPageDrawerShown = true">
                <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
              </span>
              <!-- 返回按钮 -->
              <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-1" @click="doUiAction('redirect')">
                <v-icon size="13" class="success--text">mdi-arrow-left-top-bold</v-icon>返回
              </span>
            </div>
          </v-col>
        </v-row>
      </div>
      <!-- <<<<<<<<<<<<< 头部内容 -->

      <div class="jh-page-body-container px-8">
        <!-- 页面内容 >>>>>>>>>>>>> -->
        <v-card class="rounded-lg">
          <v-row class="ma-0 pa-4">
            <!--新增按钮-->
            <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('startBuildRelation')" small>分配新APP</v-btn>
            <v-spacer></v-spacer>
            <!--搜索过滤-->
            <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
              <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
            </v-col>
          </v-row>
          <!--表格-->
          <v-data-table
            :headers="headers"
            :items="tableData"
            :search="searchInput"
            :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页', itemsPerPageAllText: '所有'}"
            :items-per-page="-1"
            mobile-breakpoint="0"
            :loading="isTableLoading"
            :class="{'zebraLine': isTableZebraLineShown }"
            checkbox-color="success"
            fixed-header
            class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
            <template v-slot:item.action="{ item }">
              <span
                role="button" class="red--text text--accent-2 font-weight-medium font-size-2"
                @click="doUiAction('deleteRelation', item)">
                <v-icon size="16" class="red--text text--accent-2">mdi-trash-can-outline</v-icon>删除
              </span>
            </template>
            <!--没有数据-->
            <template v-slot:loading>
              <div class="jh-no-data">数据加载中</div>
            </template>
            <template v-slot:no-data>
              <div class="jh-no-data">暂无数据</div>
            </template>
            <template v-slot:no-results>
              <div class="jh-no-data">暂无数据</div>
            </template>
            <!--表格分页-->
            <template v-slot:footer.page-text="pagination">
              <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
              <span class="ml-1">共{{pagination.itemsLength}}条</span>
            </template>
            <template v-slot:item.operationAt="{ item }">
              {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
            </template>
          </v-data-table>
        </v-card>

        <!-- 分配APP抽屉 -->
        <v-navigation-drawer v-model="isAppListDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
          <!-- 抽屉标题 -->
          <v-row no-gutters>
            <span class="text-h7 font-weight-bold pa-4">分配APP</span>
          </v-row>
          <v-divider class="jh-divider"></v-divider>

          <!-- 表格操作 -->
          <v-row class="ma-0 mt-4 px-4">
            <!-- 新增按钮 -->
            <v-btn color="success" class="elevation-0 mr-2" :disabled="drawerSelectedItem.length === 0" @click="doUiAction('buildMultipleRelation')"
              small>批量分配</v-btn>
            <v-spacer></v-spacer>
            <!-- 搜索过滤 -->
            <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
              <v-text-field color="success" v-model="searchInputDrawer" prefix="搜索：" class="jh-v-input" dense
                  filled single-line></v-text-field>
            </v-col>
          </v-row>

          <!--抽屉表单主体-->
          <v-row class="ma-0">
            <v-data-table
              :search="searchInputDrawer"
              :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页', itemsPerPageAllText: '所有'}"
              :items-per-page="-1"
              :class="{'zebraLine': isTableZebraLineShown }"
              checkbox-color="success"
              fixed-header
              show-select
              :headers="drawerHeaders"
              :loading="isDrawerTableLoading"
              :items="drawerTableData"
              mobile-breakpoint="0"
              @item-selected="doUiAction('selectDrawerListItem', $event)"
              @toggle-select-all="doUiAction('selectDrawerListAllItem', $event)"
              style="min-width: 100%"
              class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4"
            >
              <!-- 操作时间 -->
              <template v-slot:item.operationAt="{ item }">
                {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
              </template>
              <template v-slot:item.action="{ item }">
                <span
                  role="button" class="success--text font-weight-medium font-size-2"
                  @click="doUiAction('buildRelation', item)">
                  <v-icon size="16" class="success--text">mdi-plus-box</v-icon>新增
                </span>
              </template>
              <!-- 没有数据 -->
              <template v-slot:loading>
                <div class="jh-no-data">数据加载中</div>
              </template>
              <template v-slot:no-data>
                <div class="jh-no-data">暂无数据</div>
              </template>
              <template v-slot:no-results>
                <div class="jh-no-data">暂无数据</div>
              </template>
              <!-- 表格分页 -->
              <template v-slot:footer.page-text="pagination">
                <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                <span class="ml-1">共{{pagination.itemsLength}}条</span>
              </template>
            </v-data-table>
          </v-row>

          <!--抽屉关闭按钮-->
          <v-btn
            elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isAppListDrawerShown = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
        <!-- <<<<<<<<<<<<< 页面内容 -->
      </div>

      <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
      <v-navigation-drawer v-model="isHelpPageDrawerShown" fixed temporary right width="80%" class="elevation-24">
        <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#3.appManagementOfOneUser.md`" width="100%" height="100%"></iframe>
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

    </v-main>
  </v-app>

  <jh-toast />
  <jh-mask />
  <jh-confirm-dialog />

</div>
</script>

<div id="app">
</div>


{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">

new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: {
    isHelpPageDrawerShown: false,
    isTableZebraLineShown: true,
    isMobile: window.innerWidth < 500,

    userId: null,
    title: null,
    searchInput: null,
    searchInputDrawer: null,
    isTableLoading: true,
    headers: [
      {text: "应用ID", value: "appId", width: 120},
      {text: "应用名", value: "appName", width: 120},
      {text: "操作人", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 160},
      { text: '操作', value: 'action', align: 'center', sortable: false, width: 80, class: 'fixed', cellClass: 'fixed'},
    ],
    drawerHeaders: [
      {text: "应用ID", value: "appId", width: 120},
      {text: "应用名", value: "appName", width: 120},
      {text: "操作人", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 160},
      { text: '操作', value: 'action', align: 'center', sortable: false, width: 80, class: 'fixed', cellClass: 'fixed'},
    ],

    isDrawerTableLoading: true,
    isAppListDrawerShown: false,
    drawerTableData: [],
    tableData: [],
    drawerSelectedItem: [],
  },
  async created() {
    await this.doUiAction('getUrlObj');
    await this.doUiAction('getTableData');
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getUrlObj':
          await this.getUrlObj();
          break;
        case 'getTableData':
          await this.getTableData();
          await this.getDrawerTableData();
          await this.buildDrawerTableData();
          break;
        case 'buildMultipleRelation':
          await this.confirmBuildMultipleRelationDialog();
          await this.doBuildMultipleRelation();
          await this.doUiAction('getTableData');
          break;
        case 'startBuildRelation':
          await this.openUserListDrawer();
          break;
        case 'buildRelation':
          await this.prepareBuildRelation(uiActionData);
          await this.confirmBuildMultipleRelationDialog();
          await this.doBuildRelation();
          await this.doUiAction('getTableData');
          break;
        case 'deleteRelation':
          await this.prepareDeleteRelation(uiActionData);
          await this.confirmDeleteUserDialog();
          await this.doDeleteRelation();
          await this.doUiAction('getTableData');
          break;
        case 'selectDrawerListItem':
          await this.selectDrawerListItem(uiActionData);
          break;
        case 'selectDrawerListAllItem':
          await this.selectDrawerListAllItem(uiActionData);
          break;
        case 'redirect':
          await this.redirectToUserManagement();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", {uiActionId});
          break;
      }
    },
    // ---------- 读取当前url参数 uiAction >>>>>>>>>> --------
    async getUrlObj() {
      const urlObj = new URLSearchParams(location.search);
      const id = urlObj.get('id');
      const title = urlObj.get('title');
      if (id && title) {
        this.userId = id;
        this.title = title;
      } else {
        setTimeout(() => {
          window.vtoast.fail('请从"App管理"点击"用户管理"进入');
        }, 1000);
      }
    },
    // ---------- <<<<<<<<<<< 读取当前url参数 uiAction --------
    // ---------- 获取数据 uiAction >>>>>>>>>> --------
    async getTableData() {
      this.isTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'appManagementOfOneUser',
            actionId: 'selectItemList',
            actionData: {},
            where: {
              userId: this.userId
            },
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      this.tableData = result.data.appData.resultData.rows;
      this.isTableLoading = false;
    },
    async getDrawerTableData() {
      this.isDrawerTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'appManagementOfOneUser',
            actionId: 'selectAppItemList',
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      this.drawerTableData = result.data.appData.resultData.rows;
      this.isDrawerTableLoading = false;
    },
    buildDrawerTableData() {
      if (_.isEmpty(this.drawerTableData)) {
        this.drawerTableData = [];
      } else {
        this.drawerTableData = _.differenceBy(this.drawerTableData, this.tableData, 'appId');
      }
    },
    // ---------- <<<<<<<<<<< 获取数据 uiAction --------
    // ---------- 建立关系 uiAction >>>>>>>>>> --------
    async openUserListDrawer() {
      this.isAppListDrawerShown = true;
    },
    async confirmBuildMultipleRelationDialog() {
      if (await window.confirmDialog({title: "确定将App分配给此用户", content: "确定分配吗？"}) === false) {
        throw new Error("[confirmBuildMultipleRelationDialog] 否");
      }
    },
    async doBuildMultipleRelation() {
      for (let i = 0; i < this.drawerSelectedItem.length; i++) {
        const appId = this.drawerSelectedItem[i];
        window.vtoast.loading(`正在新增 第${i + 1}个`);
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'appManagementOfOneUser',
              actionId: 'insertItem',
              actionData: {
                appId, userId: this.userId
              }
            }
          }
        });
      }
      window.vtoast.success("批量新增成功");
      this.drawerSelectedItem = [];
    },
    async prepareBuildRelation(funObj) {
      this.selectAppId = funObj.appId;
    },
    async doBuildRelation() {
      window.vtoast.loading("正在分配新App");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'appManagementOfOneUser',
            actionId: 'insertItem',
            actionData: {
              appId: this.selectAppId, userId: this.userId
            }
          }
        }
      });
      this.selectAppId = null;
      window.vtoast.success("新App分配成功");
    },
    // ---------- <<<<<<<<<<< 建立关系 uiAction --------
    // ---------- 删除关系 uiAction >>>>>>>>>> --------
    async prepareDeleteRelation(funObj) {
      this.deleteItemId = funObj.appId;
    },
    async confirmDeleteUserDialog() {
      if (await window.confirmDialog({title: "确认将APP从用户关系删除", content: "确定删除吗？"}) === false) {
        throw new Error("[confirmDeleteUserDialog] 否");
      }
    },
    async doDeleteRelation() {
      window.vtoast.loading("删除中");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'appManagementOfOneUser',
            actionId: 'deleteItem',
            actionData: {},
            where: {appId: this.deleteItemId, userId: this.userId}
          }
        }
      });
      window.vtoast.success("删除成功");
    },
    // ---------- <<<<<<<<<<< 删除关系 uiAction --------
    // ---------- 抽屉项目选中 uiAction >>>>>>>>>> --------
    selectDrawerListItem(funObj) {
      const { item: { appId }, value } = funObj;
      if (value) {
        this.drawerSelectedItem.push(appId);
      } else {
        this.drawerSelectedItem = this.drawerSelectedItem.filter(e => e !== appId);
      }
    },
    selectDrawerListAllItem(funObj) {
      const { items, value } = funObj;
      if (value) {
        const itemIds = [];
        for (const item of items) {
          itemIds.push(item.appId)
        }
        this.drawerSelectedItem = itemIds;
      } else {
        this.drawerSelectedItem = [];
      }
    },
    // ---------- <<<<<<<<<<< 抽屉项目选中 uiAction --------

    // ---------- 用户列表 uiAction >>>>>>>>>>>> --------
    async redirectToUserManagement(funObj) {
      window.location.href = `/${window.appInfo.appId}/page/userManagement`
    },
    // ---------- <<<<<<<<<<< 用户列表 uiAction  --------

    dayjs: dayjs,
  }
})
</script>
{% endblock %}
