{% block htmlHead %}
{% endblock %}

{% extends 'template/jhTemplateV4.html'%}
{% block vueTemplate %}
<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-13">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-3 px-sm-8">
      <v-row class="align-center" no-gutters>
        <v-col cols="12" sm="12" md="4" xl="3" :cols="12" :sm="6" :md="4" >
          <div class="py-4 text-body-1 font-weight-bold align-center d-flex align-center">组织管理
            <!-- 帮助页按钮 -->
            <v-icon size="15" class="black--text ml-1" @click="isHelpPageDrawerShown = true">mdi-help-circle</v-icon>
          </div>
        </v-col>
          <!-- 自定义搜索内容 -->
          <v-spacer ></v-spacer>
          <!-- 自定义搜索内容 -->
          <v-btn color="primary" @click="doUiAction('startCreateItem')" small>
              新增组织
            </v-btn>
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->
    <!-- 页面内容 >>>>>>>>>>>>> -->
    <div class="jh-page-body-container px-sm-8">
      <v-row class="pa-0 ma-0">
        <v-col :cols="12" class="jh-fixed-table-height overflow-y-auto pa-0">
        
      <v-card class="rounded-lg elevation-0 pa-4 jh-fixed-table-height" outlined>
        <!-- 树形结构 -->
        <v-treeview
          hoverable
          activatable
          :open="openIdList"
          open-all
          :items="tableDataTree"
          dense
          item-key="groupId"
          item-text="groupName"
          :filter="filter"
          :search="searchInput"
          :active="selectedItem"
        >

          <template v-slot:label="{ item }">
            <!-- {{item.groupName + ' (' + item.groupId + ')'}} -->
            {{item.groupName}}
          </template>
          <template v-slot:append="{ item, open }">
            <template v-if="item.groupId != '超级管理员'">
              <template v-if="constantObj.userGroupRoleList.includes('超级管理员') && item.groupId">
                <v-autocomplete style="width: 170px; display: inline-block;" 
                  prefix="主管:" v-model="item.headId" 
                  class="jh-v-input" dense filled single-line 
                  :items="constantObj.userList" 
                  @change="doUiAction('updateHeadId', item)"
                  item-text="username" 
                  item-value="userId"></v-autocomplete>
              </template>
              <!-- <template v-if="constantObj.userGroupRoleList.includes('超级管理员') && item.groupId">
                <span role="button" class="blue--text font-weight-medium font-size-2 mr-2" @click.stop="doUiAction('startSetPrincipal', item)">
                  <v-icon size="16" class="blue--text">mdi-account-details-outline</v-icon>组织管理者
                </span>
              </template> -->
              <template v-if="constantObj.userGroupRoleList.includes('超级管理员') || (item.principalIdList?.split(',') || []).includes(userInfo.userId)">
                <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click.stop="doUiAction('startCreateItem', item)">
                  <v-icon size="16" class="success--text">mdi-plus</v-icon>下属组织
                </span>
                <span role="button" class="orange--text font-weight-medium font-size-2 mr-2" @click.stop="doUiAction('startUpdateItem', item)">
                  <v-icon size="16" class="orange--text">mdi-note-edit-outline</v-icon>组织信息
                </span>
                <span role="button" class="red--text font-weight-medium font-size-2 mr-2" @click.stop="doUiAction('deleteItem', item)">
                  <v-icon size="16" class="red--text">mdi-trash-can-outline</v-icon>删除组织
                </span>
              </template>
            </template>
          </template>
        </v-treeview>
        <!-- overlay -->
        <v-overlay :value="isTableLoading" color="#fff" absolute >
          <v-progress-circular
            indeterminate
            size="32"
            color="primary"
          ></v-progress-circular>
        </v-overlay>
      </v-card>
      
      </v-col>
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 页面内容 -->
    <!-- 新增 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isCreateDrawerShown" v-model="isCreateDrawerShown" :permanent="isCreateDrawerShown" fixed temporary right width="90%" class="elevation-24" >
      <v-form ref="createForm" lazy-validation>
        
        <!-- 抽屉标题 -->
        <v-row class="jh-drawer-header px-4" no-gutters align="center">
          <span class="text-h7 font-weight-bold py-4">新增</span>
          <v-spacer ></v-spacer>
          <div class="jh-drawer-action-btn-group">
            <v-btn class="elevation-0 grey lighten-4" @click="closeCreateDrawerCheck" small>取消</v-btn>
            <!-- 抽屉操作按钮 -->
            <template v-if="true">
              <v-btn color="success" small @click="doUiAction('createItem')">
              新增
            </v-btn>
            </template>
          </div>
        </v-row>
        <v-divider class="jh-divider"></v-divider>
        <!-- 抽屉内容 -->

            <!-- 抽屉内容form -->
            <v-row class="mt-0 px-4 pb-4">
              <v-col cols="12" sm="12" md="4" >
                <span class="jh-input-label"><span class="red--text text--accent-2 ml-1">* </span>groupId</span>
                <v-text-field :prefix="createItem.groupPath ? createItem.groupPath + '-' : ''" class="jh-v-input" dense single-line filled v-model="createItem.groupId" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4" >
                <span class="jh-input-label"><span class="red--text text--accent-2 ml-1">* </span>群组简称</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.groupName" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4" >
                <span class="jh-input-label">群组描述</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.groupDesc"></v-text-field>
              </v-col>
            </v-row>

             <!-- 抽屉内容组件 -->
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="closeCreateDrawerCheck">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 新增 -->
    <!-- 编辑 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isUpdateDrawerShown" v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right width="90%" class="elevation-24" >
      <v-form ref="updateForm" lazy-validation>
        
        <!-- 抽屉标题 -->
        <v-row class="jh-drawer-header px-4" no-gutters align="center">
          <span class="text-h7 font-weight-bold py-4">编辑</span>
          <v-spacer ></v-spacer>
          <div class="jh-drawer-action-btn-group">
            <v-btn class="elevation-0 grey lighten-4" @click="closeUpdateDrawerCheck" small>取消</v-btn>
            <!-- 抽屉操作按钮 -->
            <template v-if="true">
              <v-btn color="success" small @click="doUiAction('updateItem')">
              编辑
            </v-btn>
            </template>
          </div>
        </v-row>
        <v-divider class="jh-divider"></v-divider>
        <!-- 抽屉内容 -->

            <!-- 抽屉内容form -->
            <v-row class="mt-0 px-4 pb-4">
              <v-col cols="12" sm="12" md="4" >
                <span class="jh-input-label">组织Id</span>
                <v-text-field disabled class="jh-v-input" dense single-line filled v-model="updateItem.groupId"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4" >
                <span class="jh-input-label"><span class="red--text text--accent-2 ml-1">* </span>组织名称</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.groupName" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4" >
                <span class="jh-input-label">组织描述</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.groupDesc"></v-text-field>
              </v-col>
            </v-row>

             <!-- 抽屉内容组件 -->
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="closeUpdateDrawerCheck">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 编辑 -->
    
    <v-dialog
      v-model="isSetPrincipalDialog"
      width="500"
      height="800"
    >
      <v-card>
        <v-card-title class="font-weight-bold" style="font-size:medium">
          请选择【{{setPrincipalItem.groupAllName}}（{{setPrincipalItem.groupId}}）】的组织负责人       
        </v-card-title>

        <div class="ma-4">
          <v-autocomplete class="jh-v-input" dense filled single-line v-model="setPrincipalItem.principalId" :items="constantObj.userList" item-text="username" item-value="userId" multiple></v-autocomplete>
        </div>
        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="doUiAction('setPrincipal')"
          >
            确定
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    
    <!-- 组件列表 -->
    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isHelpPageDrawerLoaded" v-model="isHelpPageDrawerShown" :permanent="isHelpPageDrawerShown" fixed temporary right width="80%" class="elevation-24">
      <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#groupManagement.md`" width="100%" height="100%"></iframe>
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
          <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />
</div>
</script>
<div id="app"></div>
{% endblock %}

{% block vueScript %}
{% include "common/jianghuJs/fixedTableHeightV4.html" %}

<script type="module">

new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({

    isMobile: window.innerWidth < 500,
    isHelpPageDrawerShown: false,
    isHelpPageDrawerLoaded: false,

    // ================================ 表格相关 ================================
    tableData: [],
    isTableLoading: false,
    searchInput: null,
    columnSettingGroup: {},
    selectedColumnGroup: null,
    serverSearchWhere: {},
    serverSearchWhereLike: {},
    // ================================ 新建抽屉 ================================
    isCreateDrawerShown: false,
    createItem: {},
    createItemOrigin: {},
    createActionData: {},
    // ================================ 编辑抽屉 ================================
    isUpdateDrawerShown: false,
    updateItem: {},
    updateItemOrigin: {},
    updateItemId: null,
    updateActionData: {},

    // ================================ common ================================
    constantObj: {
      gender: [
        {
          value: null,
          text: "全部"
        },
        {
          value: "male",
          text: "男"
        },
        {
          value: "female",
          text: "女"
        }
      ],
      userGroupRoleList: [],
      userList: []
    },
    validationRules: {
      requireRules: [
        v => !!v || '必填'
      ]
    },
    testString: '测试字符串',
    serverSearchWhereLike: {
      className: ""
    },
    filterMap: {},
    setPrincipalItem: {},
    setPrincipalData: {},
    selectedItem: null,
    openIdList: [],
    tableDataTree: [],
    isSetPrincipalDialog: false,
    searchInput: '',
    isTableLoading: false,
    isMobile: window.innerWidth < 500,

    // ================================ 其他抽屉列表 ================================

    


  }),
  watch: {
    isHelpPageDrawerShown(val) {
      if (val && !this.isHelpPageDrawerLoaded) {
        this.isHelpPageDrawerLoaded = true;
      }
    },
  },
  computed: {
    tableDataComputed() {
      if(this.filterMap) {
        return this.tableData.filter(row => {
          for (const key in this.filterMap) {
            if (this.filterMap[key] && row[key] !== this.filterMap[key]) {
              return false;
            }
          }
          return true;
        });
      } else {
        return this.tableData;
      }
    },
    tableDataComputed() {
      if(this.filterMap) {
        return this.tableData.filter(row => {
          for (const key in this.filterMap) {
            if (this.filterMap[key] && row[key] !== this.filterMap[key]) {
              return false;
            }
          }
          return true;
        });
      } else {
        return this.tableData;
      }
    },
  },
  async created() {
  },
  mounted() {
    this.doUiAction('getTableData');
    this.doUiAction('getUserData');
    this.constantObj.userGroupRoleList = window.userInfo.userGroupRoleList.map(item=>item.groupId)
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      try {
        switch (uiActionId) {
          case 'startCreateItem':
            await this.prepareCreateFormData(uiActionData);
            await this.openCreateDrawer(uiActionData);
            break;
          case 'createItem':
            await this.prepareCreateValidate(uiActionData);
            await this.confirmCreateItemDialog(uiActionData);
            await this.prepareDoCreateItem(uiActionData);
            await this.doCreateItem(uiActionData);
            await this.closeCreateDrawer(uiActionData);
            await this.getTableData(uiActionData);
            break;
          case 'startUpdateItem':
            await this.prepareUpdateFormData(uiActionData);
            await this.openUpdateDrawer(uiActionData);
            break;
          case 'updateItem':
            await this.prepareUpdateValidate(uiActionData);
            await this.confirmUpdateItemDialog(uiActionData);
            await this.prepareDoUpdateItem(uiActionData);
            await this.doUpdateItem(uiActionData);
            await this.closeUpdateDrawer(uiActionData);
            await this.getTableData(uiActionData);
            break;
          case 'getTableData':
            await this.getTableData(uiActionData);
            break;
          case 'getUserData':
            await this.getUserData(uiActionData);
            break;
          case 'updateHeadId':
            await this.updateHeadId(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", {uiActionId});
            break;
        }
      } catch (error) {
        window.jhMask && window.jhMask.hide();
        throw error;
      } finally {
        window.jhMask && window.jhMask.hide();
      }
    },
    // ---------- 新增数据 uiAction >>>>>>>>>> --------
    async prepareCreateFormData() {
      this.createItem = {
      };
      this.createItemOrigin = _.cloneDeep(this.createItem);
    },
    async openCreateDrawer() {
      this.isCreateDrawerShown = true;
    },
    async prepareCreateValidate() {
      if (await this.$refs.createForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("[confirmCreateFormDialog] 否");
      }
    },
    prepareDoCreateItem() {
      const {id, ...data} = this.createItem;
      this.createActionData = {
        groupId: data.groupId,
        groupName: data.groupName,
        groupDesc: data.groupDesc,
      };
    },
    async doCreateItem() {
      await window.jhMask.show();
      await window.vtoast.loading("新增数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'groupManagement',
            actionId: 'insertItem',
            actionData: this.createActionData
          }
        }
      })
      await window.jhMask.hide();
      await window.vtoast.success("新增数据成功");
    },
    async closeCreateDrawerCheck() {
      await this.closeCreateDrawer();
    },
    async closeCreateDrawer() {
      this.isCreateDrawerShown = false;
      this.createItem = {};
      this.createActionData = null;
    },
    // ---------- <<<<<<<<<<< 新增数据 uiAction ---------
    // ---------- 修改数据 uiAction >>>>>>>>>>>> --------
    async prepareUpdateFormData(funObj) {
      this.updateItem = _.cloneDeep(funObj);
      this.updateItemOrigin = _.cloneDeep(funObj);
    },
    async openUpdateDrawer() {
      this.isUpdateDrawerShown = true;
    },
    async prepareUpdateValidate() {
      if (await this.$refs.updateForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },
    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("[confirmUpdateItemDialog] 否");
      }
    },
    async prepareDoUpdateItem() {
      const {id, ...data} = this.updateItem;
      this.updateItemId = id;
      this.updateActionData = {
        groupId: data.groupId,
        groupName: data.groupName,
        groupDesc: data.groupDesc,
      };
    },
    async doUpdateItem() {
      await window.jhMask.show();
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'groupManagement',
            actionId: 'updateItem',
            actionData: this.updateActionData,
            where: {id: this.updateItemId}
          }
        }
      })
      await window.jhMask.hide();
      await window.vtoast.success("修改数据成功");
    },
    async closeUpdateDrawerCheck() {
      await this.closeUpdateDrawer();
    },
    async closeUpdateDrawer() {
      this.isUpdateDrawerShown = false;
      this.updateItem = {};
      this.updateActionData = null;
      this.updateItemId = null;
    },
    // ---------- <<<<<<<<<<< 修改数据 uiAction ---------

    // ---------- 抽屉列表 uiAction >>>>>>>>>>>> --------
    // ---------- Custom uiAction >>>>>>>>>>>> --------
    async getTableData() {
      this.isTableLoading = true;
      const rows = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'groupManagement',
            actionId: 'selectItemList',
            actionData: {},
            orderBy: [{column: 'groupName', order: 'desc'}]
          }
        }
      })).data.appData.resultData.rows;
  
      rows.forEach(row => {
        row.operationAt = dayjs(row.operationAt).format('YYYY-MM-DD HH:mm:ss');
      })
      this.tableData = rows;
      
      this.tableDataTree = this.buildTableTree(rows)
      this.isTableLoading = false;
    },
    async getUserData() {
      this.isTableLoading = true;
      const rows = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'groupManagement',
            actionId: 'getUserList',
            actionData: {},
            where: {
              userStatus: 'active'
            },
            orderBy: [{column: 'userId', order: 'asc'}]
          }
        }
      })).data.appData.resultData.rows;
      this.constantObj.userList = rows
    },
    buildTableTree(rows) {
      const data = rows.filter(item => !item.groupPath);
      this.selectedItem = data[0] ? [data[0]?.groupId] : [];
      // 递归  子 groupPath === 父 groupId
      const buildTree = (data) => {
        data.forEach(item => {
          item.name = item.groupName;
          item.principalIdList = item.principalId;
          const children = rows.filter(child => {
            const parentPath = item.groupId ? item.groupId : item.groupPath + '-' + item.groupLastId;
            return child.groupPath == parentPath
          }).map(child=>{
            child.principalIdList = child.principalId == null ? item.principalIdList : item.principalIdList + ',' + child.principalId
            return child
          })
          if (children.length) {
            this.openIdList.push(item.groupId);
            item.children = children;
            buildTree(children);
          }
        });
      };
      buildTree(data);
      return data;
    },
    async prepareCreateFormData(item) {
      this.createItem = {};
      if (item) {
        this.createItem.groupPath = item.groupId ? item.groupId : item.groupPath + '-' + item.groupLastId;
        this.createItem.groupPathName = item.groupAllName ? item.groupAllName : "";
      } else {
        this.createItem.groupPath = '';
        this.createItem.groupPathName = '';
      }
    },
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增组织", content: "确定新增组织吗？"}) === false) {
        throw new Error("[confirmCreateFormDialog] 否");
      }
    },
    prepareDoCreateItem() {
      const {id, ...data} = this.createItem;
      this.createActionData = { 
        groupId: data.groupPath ? data.groupPath + '-' + data.groupId : data.groupId,
        groupLastId: data.groupId,
        groupPath: data.groupPath,
        groupName: data.groupName,
        groupDeptName: data.groupName,
        groupAllName: data.groupPathName == '' ? data.groupName : data.groupPathName + '-' + data.groupName 
      };
    },
    async prepareDoUpdateItem() {
      const {id, name, ...data} = this.updateItem;
      this.updateActionData = {
        groupId: data.groupId,
        groupName: data.groupName,
        groupAllName: _.slice(data.groupAllName, 0, _.lastIndexOf(data.groupAllName,'-')).join('')+ '-' + data.groupName,
        groupDesc: data.groupDesc
      };
    },
    async updateHeadId(item){
      await window.vtoast.loading("修改主管");
      const {groupId, headId} = item;
      if (!groupId) {
        return;
      }
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'groupManagement',
            actionId: 'updateItem',
            actionData: {headId},
            where: {groupId}
          }
        }
      })
      await window.vtoast.success("修改主管");
    },
    async prepareDeleteFormData(funObj) {
      this.deleteItem = _.cloneDeep(funObj);
    },
    async checkAffiliatedGroup(){
      if(this.deleteItem.children && this.deleteItem.children.length > 0){
        await window.vtoast.fail("请先删除下属组织！");
        throw new Error("[checkAffiliatedGroup] 请先删除下属组织！");
      }
    },
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("[confirmDeleteItemDialog] 否");
      }
    },
    async prepareDoDeleteItem() {
      const {id} = this.deleteItem;
    },
    async doDeleteItem() {
      await window.vtoast.loading("删除数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'groupManagement',
            actionId: 'deleteItem',
            actionData: {
              groupId: this.deleteItem.groupId
            },
            where: {}
          }
        }
      });
      await window.vtoast.success("删除数据成功");
    },
    async clearDeleteItem() {
      this.deleteItem = {};
    },
    prepareSetPrincipalData(item){
      this.setPrincipalItem = {
        groupAllName: item.groupAllName,
        groupId: item.groupId,
        principalId: item.principalId?.split(',')
      }
    },
    openSetPrincipalDialog(){
      this.isSetPrincipalDialog = true
    },
    prepareSetPrincipalItem(){
      const {groupAllName, ...data} = this.setPrincipalItem;
      this.setPrincipalData = {
        groupId: data.groupId,
        principalId: data.principalId.join(',')
      }
      
    },
    async doSetPrincipal(){
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'groupManagement',
            actionId: 'setPrincipal',
            actionData: {
              principalId: this.setPrincipalData.principalId
            },
            where: {groupId: this.setPrincipalData.groupId}
          }
        }
      })
    },
    closeSetPrincipalDialog(){
      this.setPrincipalItem = {}
      this.isSetPrincipalDialog = false
    },
    filter (value, search) {
      let newItem = _.pick(value,['groupId','groupAllName'])
      const result = _.some(newItem, itemValue =>  itemValue && itemValue.toString().includes(search));
      if(result){
        return true
      }else{
        // 特殊操作
        let {test} = value;
        return _.some(test, itemValue =>{ 
          return _.isString(itemValue.name) && itemValue['name'].includes(search)
        });
      }
    },
    // ---------- <<<<<<<<<<< Custom uiAction ---------

  }
})
</script>

<style scoped>
</style>{% endblock %}
