{% block htmlHead %}
{% endblock %}

{% extends 'template/jhTemplateV4.html'%}
{% block vueTemplate %}
<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-13">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-3 px-sm-8">
      <v-row class="align-center" no-gutters>
        <v-col cols="12" sm="12" md="4" xl="3" :cols="12" :sm="6" :md="4" >
          <div class="py-4 text-body-1 font-weight-bold align-center d-flex align-center">用户管理
            <!-- 帮助页按钮 -->
            <v-icon size="15" class="black--text ml-1" @click="isHelpPageDrawerShown = true">mdi-help-circle</v-icon>
          </div>
        </v-col>
          <!-- 自定义搜索内容 -->
          <v-spacer ></v-spacer>
        <!-- 服务端搜索 -->
        <v-col cols="12" xs="12" sm="12" md="8" xl="9" class="pl-md-2 mb-2 mb-md-0 flex justify-space-between" >
          <v-row class="jh-backend-form-container justify-end py-md-3" no-gutters>
            <div class="jh-backend-search-btn ml-2">
              
            </div>
          </v-row>
        </v-col>
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->
    <!-- 页面内容 >>>>>>>>>>>>> -->
    <div class="jh-page-body-container px-sm-8">
      <v-row class="pa-0 ma-0">
        <v-col class="pa-0"  :clos="12">
          <!-- 表格顶部栏 -->
          <div  class="rounded-lg elevation-0">
            <v-row class="ma-0 pb-3 pa-0 px-3 px-md-0" align="center">
              <v-btn small color="success" @click="doUiAction('startCreateItem')">
            新增
          </v-btn>
              <v-spacer ></v-spacer>
              <v-col cols="12" sm="6" md="2" class="pa-0">
            <v-text-field prefix="筛选" v-model="searchInput" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
            </v-row>
            <!-- 表格 -->
            <v-data-table
              :headers="headers"
              :items="tableDataComputed"
              :search="searchInput"
              :footer-props="{ itemsPerPageOptions: [20, 50, 200, -1], itemsPerPageText: '每页', itemsPerPageAllText: '所有'}"
              :items-per-page="-1"
              mobile-breakpoint="0"
              :loading="isTableLoading"
              checkbox-color="success"
              :class="{'zebraLine': true }"
              fixed-header
              class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4"
            >

              <!-- 表格插槽 -->
              <template v-slot:item.clearTextPassword="{ item }">
            <span role="button" @click="doUiAction('copyPassword', item)" class="success--text">
              <v-icon small color="success">mdi-content-copy</v-icon>复制
            </span>
          </template>
          <!-- 用户类型 -->
          <template v-slot:item.userType="{ item }">
            {{ getDisplayText({displayObj: constantObj.userType, displayValue: item.userType}) }}
          </template>
          <!-- 用户状态 -->
          <template v-slot:item.userStatus="{ item }">
            {{ getDisplayText({displayObj: constantObj.userStatus, displayValue: item.userStatus}) }}
          </template>
         

              <!-- 自定义渲染列 -->
              <!-- 表格操作按钮 -->
              <template v-slot:item.action="{ item }">
                <!-- pc端 -->
                <template v-if="!isMobile">
                  <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('startUpdateItem', item)" >
                    <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>修改信息
                  </span>
                  <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('startResetPassword', item)" >
                    <v-icon size="16" class="success--text">mdi-lock-reset</v-icon>修改密码
                  </span>
                  <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('activeUserStatus', item)" v-if="item.userStatus !== 'active'" >
                    <v-icon size="16" class="success--text">mdi-lock-open-variant-outline</v-icon>激活
                  </span>
                  <span role="button" class="red--text font-weight-medium font-size-2 mr-2" @click="doUiAction('bannedUserStatus', item)" v-if="item.userStatus === 'active'" >
                    <v-icon size="16" class="red--text">mdi-lock-outline</v-icon>禁用
                  </span>
                </template>
                <!-- 手机端 -->
                <v-menu offset-y v-if="isMobile">
                  <template v-slot:activator="{ on, attrs }">
                    <span role="button" class="success--text font-weight-medium font-size-2"
                      v-bind="attrs" v-on="on">
                      <v-icon size="20" class="success--text">mdi-chevron-down</v-icon>操作
                    </span>
                  </template>
                  <v-list dense>
                    <v-list-item @click="doUiAction('startUpdateItem', item)" >
                      <v-list-item-title>修改信息</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="doUiAction('startResetPassword', item)" >
                      <v-list-item-title>修改密码</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="doUiAction('activeUserStatus', item)" v-if="item.userStatus !== 'active'" >
                      <v-list-item-title>激活</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="doUiAction('bannedUserStatus', item)" v-if="item.userStatus === 'active'" >
                      <v-list-item-title>禁用</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
              <!-- 没有数据 -->
              <template v-slot:loading>
                <div class="jh-no-data">数据加载中</div>
              </template>
              <template v-slot:no-data>
                <div class="jh-no-data">暂无数据</div>
              </template>
              <template v-slot:no-results>
                <div class="jh-no-data">暂无数据</div>
              </template>
              <!-- 表格分页 -->
              <template v-slot:footer.page-text="pagination">
                <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                <span class="ml-1">共{{pagination.itemsLength}}条</span>
                <span class="ml-1" v-if="tableDataComputed.length > 0 && !isTableLoading && tableDataComputed.length < (pagination.pageStop - pagination.pageStart + 1)">
                  筛选出{{tableDataComputed.length}}条
                </span>
              </template>
            </v-data-table>
          </div>
        </v-col>
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 页面内容 -->
    <!-- 课程详情 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isCreateDrawerShown" v-model="isCreateDrawerShown" :permanent="isCreateDrawerShown" fixed temporary right width="90%" class="elevation-24" >
      <v-form ref="createForm" lazy-validation>
        
        <!-- 抽屉标题 -->
        <v-row class="jh-drawer-header px-4" no-gutters align="center">
          <span class="text-h7 font-weight-bold py-4">课程详情</span>
          <v-spacer></v-spacer>
          <div class="jh-drawer-action-btn-group">
            <v-btn class="elevation-0 grey lighten-4" @click="closeCreateDrawerCheck" small>取消</v-btn>
            <!-- 抽屉操作按钮 -->
            <template v-if="true">
              <v-btn class="ml-2" color="success" @click="doUiAction('updateItem')" small>
              新增
            </v-btn>
            </template>
          </div>
        </v-row>
        <v-divider class="jh-divider"></v-divider>
        <!-- 抽屉内容 -->

            <!-- 抽屉内容form -->
            <v-row class="mt-0 px-4 pb-4">
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label">用户ID[登陆]*必填</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.userId" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label">用户名*必填</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.username" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label">用户类型*必填</span>
                <v-select :items="constantObj.userType" class="jh-v-input" dense single-line filled v-model="createItem.userType" :rules="validationRules.requireRules" clearable></v-select>
              </v-col>
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label">用户状态*必填</span>
                <v-select :items="constantObj.userStatus" class="jh-v-input" dense single-line filled v-model="createItem.userStatus" :rules="validationRules.requireRules" clearable></v-select>
              </v-col>
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label">初始密码*必填</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.clearTextPassword" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
            </v-row>

             <!-- 抽屉内容组件 -->
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="closeCreateDrawerCheck">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 课程详情 -->
    <!-- 编辑 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isUpdateDrawerShown" v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right width="90%" class="elevation-24" >
      <v-form ref="updateForm" lazy-validation>
        
        <!-- 抽屉标题 -->
        <v-row class="jh-drawer-header px-4" no-gutters align="center">
          <span class="text-h7 font-weight-bold py-4">编辑</span>
          <v-spacer ></v-spacer>
          <div class="jh-drawer-action-btn-group">
            <v-btn class="elevation-0 grey lighten-4" @click="closeUpdateDrawerCheck" small>取消</v-btn>
            <!-- 抽屉操作按钮 -->
            <template v-if="updateDrawerTab == '0'">
              <v-btn class="ml-2" color="success" @click="doUiAction('updateItem')" small>
              保存
            </v-btn>
            </template>
          </div>
        </v-row>
        <v-divider class="jh-divider"></v-divider>
        <!-- 抽屉内容 -->
        <div class="px-4">
          <v-tabs
            v-model="updateDrawerTab"
            color="success"
          >
            <v-tab key="0">
              新增
            </v-tab>
            <v-tab key="1">
              操作记录
            </v-tab>
          </v-tabs>
        </div>
        <v-tabs-items v-model="updateDrawerTab">
          <v-tab-item
            key="0"
          >

            <!-- 抽屉内容form -->
            <v-row class="mt-0 px-4 pb-4">
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label">用户ID[登陆]</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.userId" :rules="validationRules.requireRules" disabled></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label">用户名*必填</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.username" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label">用户类型*必填</span>
                <v-select :items="constantObj.userType" class="jh-v-input" dense single-line filled v-model="updateItem.userType" :rules="validationRules.requireRules" clearable></v-select>
              </v-col>
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label">用户状态*必填</span>
                <v-select :items="constantObj.userStatus" class="jh-v-input" dense single-line filled v-model="updateItem.userStatus" :rules="validationRules.requireRules" clearable></v-select>
              </v-col>
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label">初始密码</span>
                <v-text-field disabled class="jh-v-input" dense single-line filled v-model="updateItem.clearTextPassword" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
            </v-row>

             <!-- 抽屉内容组件 -->
          </v-tab-item>
          <v-tab-item
            key="1"
          >

            <!-- 抽屉内容form -->
            <table-record-history table="course" page-id="course" :id="updateItem.id"/>
          </v-tab-item>
        </v-tabs-items>
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="closeUpdateDrawerCheck">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 编辑 -->
    <!-- 修改密码 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isResetPasswordDrawerShown" v-model="isResetPasswordDrawerShown" :permanent="isResetPasswordDrawerShown" fixed temporary right width="90%" class="elevation-24" >
      <v-form ref="resetPasswordForm" lazy-validation>
        
        <!-- 抽屉标题 -->
        <v-row class="jh-drawer-header px-4" no-gutters align="center">
          <span class="text-h7 font-weight-bold py-4">修改密码</span>
          <v-spacer ></v-spacer>
          <div class="jh-drawer-action-btn-group">
            <v-btn class="elevation-0 grey lighten-4" @click="closeResetPasswordDrawerCheck" small>取消</v-btn>
            <!-- 抽屉操作按钮 -->
            <template v-if="true">
              <v-btn small class="ml-2" color="success" @click="doUiAction('resetPassword')">
              保存
            </v-btn>
            </template>
          </div>
        </v-row>
        <v-divider class="jh-divider"></v-divider>
        <!-- 抽屉内容 -->

            <!-- 抽屉内容form -->
            <v-row class="mt-0 px-4 pb-4">
              <v-col cols="12" sm="12" md="3" >
                <span class="jh-input-label">初始密码*必填</span>
                <v-text-field class="jh-v-input" dense single-line filled v-model="resetPasswordItem.clearTextPassword" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
            </v-row>

             <!-- 抽屉内容组件 -->
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="closeResetPasswordDrawerCheck">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 修改密码 -->
    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isHelpPageDrawerLoaded" v-model="isHelpPageDrawerShown" :permanent="isHelpPageDrawerShown" fixed temporary right width="80%" class="elevation-24">
      <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#userManagement.md`" width="100%" height="100%"></iframe>
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
          <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />
</div>
</script>
<div id="app"></div>
{% endblock %}

{% block vueScript %}
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
{% include 'component/tableRecordHistory.html' %}

<script type="module">

new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({

    isMobile: window.innerWidth < 500,
    isHelpPageDrawerShown: false,
    isHelpPageDrawerLoaded: false,
    // ================================ 表格相关 ================================
    headers: [
      { text: "用户ID[登陆]", value: "userId", width: 120 },
      { text: "用户名", value: "username", width: 140 },
      { text: "用户类型", value: "userType", width: 120 },
      { text: "用户状态", value: "userStatus", width: 120 },
      { text: "初始密码", value: "clearTextPassword", width: 120 },
      { text: "操作人", value: "operationByUser", width: 90 },
      { text: "操作时间", value: "operationAt", width: 150 },
      { text: "操作", value: "action", align: "center", sortable: false, width:window.innerWidth < 500 ? 80 : 230, class: "fixed", cellClass: "fixed" },
    ],
    tableData: [],
    tableParams: {},
    tableDataFromBackend: [],
    isTableLoading: false,
    searchInput: null,
    columnSettingGroup: {},
    selectedColumnGroup: null,
    serverSearchWhere: {},
    serverSearchWhereLike: {},
    // ============================== 服务端搜索 ===============================
    serverSearchWhere: {},
    serverSearchWhereIn: {},
    serverSearchWhereLike: {},
    
    // ================================ 新建抽屉 ================================
    isCreateDrawerShown: false,
    createItem: {},
    createItemOrigin: {},
    // ================================ 编辑抽屉 ================================
    isUpdateDrawerShown: false,
    updateItem: {},
    updateItemOrigin: {},
    updateItemId: null,
    updateActionData: {},
    updateDrawerTab: 0,

    // ================================ common ================================
    isHelpPageDrawerShown: false,
    isTableZebraLineShown: true,
    validationRules: {
      requireRules: [
        v => !!v || 'This is required'
      ]
    },
    constantObj: {
      userStatus: [
        {
          value: "active",
          text: "正常"
        },
        {
          value: "banned",
          text: "禁用"
        }
      ],
      userType: [
        {
          value: "common",
          text: "普通用户"
        },
        {
          value: "staff",
          text: "教职工"
        },
        {
          value: "student",
          text: "学生"
        }
      ]
    },
    activeUserItem: {},
    activeUserId: null,
    bannedUserItem: {},
    bannedUserId: null,
    isResetPasswordDrawerShown: false,
    resetPasswordItem: {},
    clearTextPassword: null,
    resetPasswordUserId: null,

    // ================================ 其他抽屉列表 ================================
    isResetPasswordDrawerShown: false,
    resetPasswordItem: {},
    resetPasswordItemOrigin: {},

    


  }),
  watch: {
    isHelpPageDrawerShown(val) {
      if (val && !this.isHelpPageDrawerLoaded) {
        this.isHelpPageDrawerLoaded = true;
      }
    },
  },
  computed: {
    tableDataComputed() {
      let tableData;
      if(this.filterMap) {
        tableData = this.tableData.filter(row => {
          for (const key in this.filterMap) {
            if (this.filterMap[key] && row[key] !== this.filterMap[key]) {
              return false;
            }
          }
          return true;
        });
      } else {
        tableData = this.tableData;
      }
      return tableData;
    },
  },
  async created() {
  },
  mounted() {
    this.doUiAction('getTableData');
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      try {
        switch (uiActionId) {
          case 'getTableData':
            await this.prepareTableParamsDefault(uiActionData);
            await this.prepareTableParams(uiActionData);
            await this.getTableData(uiActionData);
            await this.formatTableData(uiActionData);
            break;
          case 'startCreateItem':
            await this.prepareCreateFormData(uiActionData);
            await this.openCreateDrawer(uiActionData);
            break;
          case 'startUpdateItem':
            await this.prepareUpdateFormData(uiActionData);
            await this.openUpdateDrawer(uiActionData);
            break;
          case 'updateItem':
            await this.prepareUpdateValidate(uiActionData);
            await this.confirmUpdateItemDialog(uiActionData);
            await this.prepareDoUpdateItem(uiActionData);
            await this.doUpdateItem(uiActionData);
            await this.closeUpdateDrawer(uiActionData);
            await this.doUiAction('getTableData', uiActionData);
            break;
          case 'activeUserStatus':
            await this.prepareActiveUserItem(uiActionData);
            await this.confirmActiveUserStatusDialog(uiActionData);
            await this.prepareDoActiveUserStatus(uiActionData);
            await this.doActiveUser(uiActionData);
            await this.doUiAction('getTableData', uiActionData);
            break;
          case 'bannedUserStatus':
            await this.prepareBannedUserItem(uiActionData);
            await this.confirmBannedUserStatusDialog(uiActionData);
            await this.prepareDoBannedUserStatus(uiActionData);
            await this.doBannedUser(uiActionData);
            await this.doUiAction('getTableData', uiActionData);
            break;
          case 'startResetPassword':
            await this.prepareResetPasswordItem(uiActionData);
            await this.doUiAction('viewResetPassword', uiActionData);
            break;
          case 'resetPassword':
            await this.prepareResetPasswordValidate(uiActionData);
            await this.confirmResetPasswordDialog(uiActionData);
            await this.prepareDoResetPasswordItem(uiActionData);
            await this.doResetPasswordItem(uiActionData);
            await this.closeResetPasswordDrawer(uiActionData);
            await this.doUiAction('getTableData', uiActionData);
            break;
          case 'copyPassword':
            await this.copyPassword(uiActionData);
            break;
          case 'viewResetPassword':
            await this.prepareResetPasswordData(uiActionData);
            await this.openResetPasswordDrawer(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", {uiActionId});
            break;
        }
      } catch (error) {
        window.jhMask && window.jhMask.hide();
        throw error;
      } finally {
        window.jhMask && window.jhMask.hide();
      }
    },
    async prepareTableParamsDefault() {
      const where = {};
      const whereLike = {};
      const whereIn = {};
      const serverSearchWhere = _.cloneDeep(this.serverSearchWhere || {});
      const serverSearchWhereIn = _.cloneDeep(this.serverSearchWhereIn || {});
      const serverSearchWhereLike = _.cloneDeep(this.serverSearchWhereLike || {});

      for (const fieldKey in serverSearchWhere) {
        const fieldValue = serverSearchWhere[fieldKey];
        if(!!fieldValue && fieldValue != '全部') {
          if (_.isString(fieldValue)) {
            where[fieldKey] = fieldValue.trim();
          } else {
            where[fieldKey] = fieldValue;
          }
        }
      }
      for (const fieldKey in serverSearchWhereLike) {
        const fieldValue = serverSearchWhereLike[fieldKey];
        if(!!fieldValue && fieldValue != '全部') {
          if (_.isString(fieldValue)) {
            whereLike[fieldKey] = '%' + fieldValue.trim() + '%';
          } else {
            whereLike[fieldKey] = '%' + fieldValue + '%';
          }
        }
      }
      for (const fieldKey in serverSearchWhereIn) {
        const fieldValue = serverSearchWhereIn[fieldKey];
        if(!!fieldValue && _.isArray(fieldValue) && fieldValue.length > 0) {
          whereIn[fieldKey] = fieldValue;
        }
      }

      let whereOrOptions = [];
      if (this.keyword) {
        if (!this.keywordFieldList || this.keywordFieldList.length === 0) {
          console.warn('keywordFieldList is empty');
        }
        this.keywordFieldList.forEach(fieldKey => {
          whereOrOptions.push([fieldKey, 'like', '%' + this.keyword.trim() + '%']);
        });
      }
      let orderBy = [{column: 'operationAt', order: 'desc'}];

      let limit = null;
      let offset = null;
      this.tableParams = { where, whereLike, whereIn, limit, offset, orderBy, whereOrOptions };
    },
    // 准备请求参数-自定义
    prepareTableParams() {
      // TODO 增加自定义复杂判断条件
    },
    // 获取表格数据
    async getTableData() {
      this.isTableLoading = true;

      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userManagement',
            actionId: "selectItemList",
            actionData: {},
            ...this.tableParams
          }
        }
      });
      const { rows, count } = result.data.appData.resultData;
      
      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },
    formatTableData() {
      let tableData = this.tableDataFromBackend.map(row => {
        row.operationAt = row.operationAt ? dayjs(row.operationAt).format('YYYY-MM-DD HH:mm:ss') : '';
        return row;
      });
      this.tableData = tableData;
    },
    // ---------- <<<<<<<<<<< 获取表格数据 uiAction ---------
    // ---------- 新增数据 uiAction >>>>>>>>>> --------
    async prepareCreateFormData() {
      this.createItem = {
      };
      this.createItemOrigin = _.cloneDeep(this.createItem);
    },
    async openCreateDrawer() {
      this.isCreateDrawerShown = true;
    },
    async prepareCreateValidate() {
      if (await this.$refs.createForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("[confirmCreateFormDialog] 否");
      }
    },
    prepareDoCreateItem() {
      const {id, ...data} = this.createItem;
      this.createActionData = {
      };
    },
    async doCreateItem() {
      await window.jhMask.show();
      await window.vtoast.loading("新增数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userManagement',
            actionId: 'insertItem',
            actionData: this.createActionData
          }
        }
      })
      await window.jhMask.hide();
      await window.vtoast.success("新增数据成功");
    },
    async closeCreateDrawerCheck() {
      await this.closeCreateDrawer();
    },
    async closeCreateDrawer() {
      this.isCreateDrawerShown = false;
      this.createItem = {};
      this.createActionData = null;
    },
    // ---------- <<<<<<<<<<< 新增数据 uiAction ---------
    // ---------- 修改数据 uiAction >>>>>>>>>>>> --------
    async prepareUpdateFormData(funObj) {
      this.updateItem = _.cloneDeep(funObj);
    },
    async openUpdateDrawer() {
      this.isUpdateDrawerShown = true;
    },
    async prepareUpdateValidate() {
      if (await this.$refs.updateForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },
    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("[confirmUpdateItemDialog] 否");
      }
    },
    async prepareDoUpdateItem() {
      const {id, ...data} = this.updateItem;
      this.updateItemId = id;
      this.updateActionData = {};
      switch (this.updateDrawerTab) {
        case 0:
          this.updateActionData.userType = data.userType;
          this.updateActionData.userStatus = data.userStatus;
        break;
      }
    },
    async doUpdateItem() {
      await window.jhMask.show();
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userManagement',
            actionId: 'updateItem',
            actionData: this.updateActionData,
            where: {id: this.updateItemId}
          }
        }
      })
      await window.jhMask.hide();
      await window.vtoast.success("修改数据成功");
    },
    async closeUpdateDrawerCheck() {
      await this.closeUpdateDrawer();
    },
    async closeUpdateDrawer() {
      this.isUpdateDrawerShown = false;
      this.updateItem = {};
      this.updateActionData = null;
      this.updateItemId = null;
      this.updateDrawerTab = 0;
    },
    // ---------- <<<<<<<<<<< 修改数据 uiAction ---------

    // ---------- 抽屉列表 uiAction >>>>>>>>>>>> --------
    async prepareResetPasswordData(funObj) {
      this.resetPasswordItem = _.cloneDeep(funObj);
      this.resetPasswordItemOrigin = _.cloneDeep(funObj);
    },
    async openResetPasswordDrawer() {
      this.isResetPasswordDrawerShown = true;
    },
    async closeResetPasswordDrawerCheck() {
      await this.closeResetPasswordDrawer();
    },
    async closeResetPasswordDrawer() {
      this.isResetPasswordDrawerShown = false;
    },
    // ---------- Custom uiAction >>>>>>>>>>>> --------
    async prepareActiveUserItem(funObj) {
      this.activeUserItem = _.cloneDeep(funObj);
    },
    async confirmActiveUserStatusDialog() {
      if (await window.confirmDialog({ title: "激活", content: "确定激活吗？" }) === false) {
        throw new Error("[confirmActiveUserStatusDialog] 否");
      }
    },
    async prepareDoActiveUserStatus() {
      this.activeUserId = this.activeUserItem.userId;
    },
    async doActiveUser() {
      await window.vtoast.loading('正在激活');
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userManagement',
            actionId: 'updateItem',
            actionData: { userStatus: 'active' },
            where: { userId: this.activeUserId }
          }
        }
      });
      await window.vtoast.success(`激活成功`);
      this.activeUserItem = {};
      this.activeUserId = null;
    },
    async prepareBannedUserItem(funObj) {
      this.bannedUserItem = _.cloneDeep(funObj);
    },
    async confirmBannedUserStatusDialog() {
      if (await window.confirmDialog({ title: "禁用", content: "确定禁用吗？" }) === false) {
        throw new Error("[confirmBannedUserStatusDialog] 否");
      }
    },
    async prepareDoBannedUserStatus() {
      this.bannedUserId = this.bannedUserItem.userId;
    },
    async doBannedUser(funObj) {
      await window.vtoast.loading('正在禁用');
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userManagement',
            actionId: 'updateItem',
            actionData: { userStatus: 'banned' },
            where: { userId: this.bannedUserId }
          }
        }
      });
      await window.vtoast.success(`禁用成功`);
      this.bannedUserItem = {};
      this.bannedUserId = null;
    },
    async prepareResetPasswordItem(funObj) {
      this.resetPasswordItem = _.cloneDeep(funObj);
    },
    async openResetPasswordDrawer() {
      this.isResetPasswordDrawerShown = true;
    },
    async prepareResetPasswordValidate() {
      if (await this.$refs.resetPasswordForm.validate() === false) {
        throw new Error("[prepareResetPasswordValidate] false");
      }
    },
    async confirmResetPasswordDialog() {
      if (await window.confirmDialog({ title: "修改用户密码", content: "确定修改用户密码吗？" }) === false) {
        throw new Error("[confirmResetPasswordDialog] 否");
      }
    },
    async prepareDoResetPasswordItem() {
      const { userId, clearTextPassword } = this.resetPasswordItem;
      this.clearTextPassword = clearTextPassword;
      this.resetPasswordUserId = userId;
    },
    async doResetPasswordItem() {
      await window.vtoast.loading("修改密码");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userManagement',
            actionId: 'resetUserPassword',
            actionData: { userId: this.resetPasswordUserId, clearTextPassword: this.clearTextPassword },
            where: {}
          }
        }
      });
      window.vtoast.success("修改密码成功");
    },
    async closeResetPasswordDrawer() {
      this.isResetPasswordDrawerShown = false;
      this.resetPasswordItem = {};
      this.clearTextPassword = null;
      this.resetPasswordUserId = null;
    },
    async copyPassword(funObj) {
      await navigator.clipboard.writeText(funObj.clearTextPassword);
      return window.vtoast.success("复制密码成功！")
    },
    // ---------- <<<<<<<<<<< Custom uiAction ---------

  }
})
</script>

<style scoped>
  
    
</style>{% endblock %}
