{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <v-row>
        <v-col cols="12" xs="12" sm="12" md="4" xl="3">
          <div class="pt-3 text-h7 font-weight-bold">审批管理
            <!-- 帮助页按钮 -->
            <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline
            </v-icon>
          </div>
          <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
        </v-col>
        <!-- 搜索条件表单 >>>>>>>> -->
        <v-col cols="12" xs="12" sm="12" md="8" xl="9">
          <!-- <v-row class="jh-backend-form-container justify-end ma-0 py-1 pb-xs-2">
            <v-col cols="12" xs="6" sm="6" md="4" xl="3" class="pa-xs-0 pb-2 pl-1 pl-xs-1">
              <v-select v-model="serverSearchInput.gender" color="success" prefix="性别：" class="jh-v-input bg-white" :items="constantObj.gender" dense filled single-line></v-select>
            </v-col>
            <v-btn class="jh-backend-search-btn elevation-0 ml-0 mt-3" color="success" small @click="doUiAction('getTableData')">
              查询
            </v-btn>
          </v-row> -->
        </v-col>
        <!-- <<<<<<<< 搜索条件表单 -->
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
        <v-row class="ma-0 pa-4">
          <!-- 新增按钮 -->
          <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('startCreateItem')" small>新增审批
          </v-btn>
          <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('exportExcel')" small outlined>导出
          </v-btn>
          <v-spacer></v-spacer>
          <!-- 搜索过滤 -->
       
          <v-btn-toggle :value="0" @change="doUiAction('useScene', sceneList[$event])" class="mr-2" color="success" small>
            <v-btn v-for="scene in sceneList" small>{{scene.name}}</v-btn>
          </v-btn-toggle>

          <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
            <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
        </v-row>
        <!-- 表格 -->
        <v-data-table
          :headers="headers"
          :items="tableData"
          :search="searchInput"
          :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页', itemsPerPageAllText: '所有'}"
          :items-per-page="-1"
          mobile-breakpoint="0"
          :loading="isTableLoading"
          checkbox-color="success"
          :class="{'zebraLine': isTableZebraLineShown }"
          fixed-header
          class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
          <!-- 表格操作按钮 -->
          <template v-slot:item.action="{ item }">
            <template v-if="item.taskStatus != '已完成' && item.taskManagerId==userId && currentSceneId != 'scene-fixed-2'">
              <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('startUpdateItem', item)">
                <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>修改
              </span>
              <span role="button" class="success--text font-weight-medium font-size-2" @click="doUiAction('deleteItem', item)">
                <v-icon size="16" class="success--text">mdi-trash-can-outline</v-icon>删除
              </span>
            </template>
            <template v-if="item.taskAuditUserIdList.includes(userId) && currentSceneId == 'scene-fixed-2'">
              <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('startHandleTaskApply', item)">
                <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>审批
              </span>
            </template>
          </template>
          <!-- 没有数据 -->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
            <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
      </v-card>
      <!-- 新增抽屉 -->
      <v-navigation-drawer v-if="isCreateDrawerShown" v-model="isCreateDrawerShown" :permanent="isCreateDrawerShown" fixed temporary right width="80%" class="elevation-24">
        <v-form ref="createForm" lazy-validation>
          <!-- 抽屉标题 -->
          <v-row no-gutters>
          <span class="text-h7 font-weight-bold pa-4">发起申请</span>
          </v-row>
          <v-divider class="jh-divider"></v-divider>
          <!-- 抽屉表单 -->
          <!-- <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.xxxId" :rules="validationRules.requireRules"></v-text-field> -->
          <v-row class="mt-0 px-4">
             
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label"><span class="red--text">*</span>审批名称</span>
              <v-text-field :rules="validationRules.requireRules" class="jh-v-input" dense single-line filled v-model="createItem.taskTitle"></v-text-field>
            </v-col>
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">审批描述</span>
              <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.taskDesc"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="8">
              <span class="jh-input-label">审批内容</span>
              <v-textarea class="jh-v-input" dense single-line filled v-model="createItem.taskContent"></v-textarea>
            </v-col>
            <v-col cols="12" sm="12" md="4"></v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">任务模板</span>

              <v-autocomplete v-model="createItem.taskTemplateId" class="jh-v-input mr-2" hide-actions hide-controls hide-details dense filled single-line clearable label="选择审批流程" :items="taskTemplateList" item-text="taskTemplateName" item-value="taskTemplateId"
                  :rules="validationRules.requireRules" @change="doUiAction('handleTaskTemplateChange', { taskTemplateId: $event, item: createItem})">
                </v-autocomplete>
            </v-col>

            <v-col cols="12" sm="12" md="12" xl="12"
            v-if="createItem.taskAuditConfig.length">
            <span class="inputLabel">审批人列表</span>
            <v-row v-for="item in createItem.taskAuditConfig">
              <v-col cols="2">
                <v-text-field hide-actions hide-controls hide-details class="jh-v-input " dense filled single-line v-model="item.position"
                  disabled></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-autocomplete hide-actions hide-controls hide-details :items="userList" item-text="username" item-value="userId" class="jh-v-input mr-2" dense
                  filled single-line :rules="validationRules.requireRules" v-model="item.userId" disabled>
                </v-autocomplete>
              </v-row>
          </v-col>  
          <v-col cols="12" sm="12" md="12">
            <span class="jh-input-label">附件列表
            <task-attachment-list :files.sync="createItem.taskFileList" />
          </v-col>
          </v-row>

          <!-- 抽屉操作按钮 -->
          <v-row class="justify-end mx-0 mt-8 px-6">
            <v-btn color="success" @click="doUiAction('createItem')" small>保存</v-btn>
            <v-btn class="elevation-0 ml-2" @click="isCreateDrawerShown = false" small>取消</v-btn>
          </v-row>
        </v-form>
        <!-- 抽屉关闭按钮 -->
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isCreateDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- 编辑抽屉 -->
      <v-navigation-drawer v-if="isUpdateDrawerShown" v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right width="80%" class="elevation-24">
        <v-form ref="updateForm" lazy-validation>
          <!-- 抽屉标题 -->
          <v-row no-gutters>
<span class="text-h7 font-weight-bold pa-4">修改申请</span>
</v-row>
<v-divider class="jh-divider"></v-divider>
          <!-- 抽屉表单 -->
          <v-row class="mt-0 px-4">
            <!-- <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.xxxId" :rules="validationRules.requireRules"></v-text-field> -->
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label"><span class="red--text">*</span>审批名称</span>
              <v-text-field :rules="validationRules.requireRules" class="jh-v-input" dense single-line filled v-model="updateItem.taskTitle"></v-text-field>
            </v-col>
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">审批描述
              <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.taskDesc"></v-text-field>
            </v-col>
          
            <v-col cols="12" sm="12" md="8">
              <span class="jh-input-label">审批内容</span>
              <v-textarea class="jh-v-input" dense single-line filled v-model="updateItem.taskContent"></v-textarea>
            </v-col>
            <v-col cols="12" sm="12" md="4"></v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">任务模板</span>

              <v-autocomplete v-model="updateItem.taskTemplateId" class="jh-v-input mr-2" hide-actions hide-controls hide-details dense filled single-line clearable label="选择审批流程" :items="taskTemplateList" item-text="taskTemplateName" item-value="taskTemplateId"
                  :rules="validationRules.requireRules" @change="doUiAction('handleTaskTemplateChange', { taskTemplateId: $event, item: updateItem})">
                </v-autocomplete>
            </v-col>

            <v-col cols="12" sm="12" md="12" xl="12"
            v-if="updateItem.taskAuditConfig.length">
            <span class="inputLabel">审批人列表</span>
            <v-row v-for="item in updateItem.taskAuditConfig">
              <v-col cols="2">
                <v-text-field hide-actions hide-controls hide-details class="jh-v-input " dense filled single-line v-model="item.position"
                  disabled></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-autocomplete hide-actions hide-controls hide-details :items="userList" item-text="username" item-value="userId" class="jh-v-input mr-2" dense
                  filled single-line :rules="validationRules.requireRules" v-model="item.userId" disabled>
                </v-autocomplete>
              </v-row>
          </v-col>  

          <v-col cols="12" sm="12" md="12">
            <span class="jh-input-label">附件列表
            <task-attachment-list :files.sync="updateItem.taskFileList" />
          </v-col>

          </v-row>
          <!-- 抽屉操作按钮 -->
          <v-row class="justify-end mx-0 mt-8 px-6">
            <v-btn color="success" @click="doUiAction('updateItem')" small>保存</v-btn>
            <v-btn class="elevation-0 ml-2" @click="isUpdateDrawerShown = false" small>取消</v-btn>
          </v-row>
        </v-form>
        <!-- 抽屉关闭按钮 -->
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isUpdateDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- <<<<<<<<<<<<< 页面内容 -->

      <view-ticket-detail-drawer ref="ticketDetail" />
      <select-ticket-type-dialog ref="selectTicketTypeDialog" @handleClick="doUiAction('startCreateTicket', $event)" />
      <create-ticket-drawer ref="createTicketDrawer" />
    </div>

    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isHelpPageDrawerLoaded" v-model="isHelpPageDrawerShown" :permanent="isHelpPageDrawerShown" fixed temporary right width="80%" class="elevation-24">
      <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#404.md`" width="100%" height="100%"></iframe>
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />
</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
{% include 'component/task-filter-btn.html' %}
{% include 'common/excelUtil.html' %}
{% include 'component/view-ticket-detail-drawer.html' %}
{% include 'component/task-attachment-list.html' %}
{% include 'component/ticket/select-ticket-type-dialog.html' %}
{% include 'component/ticket/create-ticket-drawer.html' %}

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      // 面包屑
      breadcrumbs: [
        {
          text: '首页',
          disabled: true,
        },
        {
          text: '审批管理',
          disabled: true,
        }
      ],
      isHelpPageDrawerShown: false,
      isHelpPageDrawerLoaded: false,
      isMobile: window.innerWidth < 500,
      // 表格相关数据
      isTableZebraLineShown: true,
      validationRules: {
        requireRules: [
          v => !!v || '必填',
        ],
      },
      // 下拉选项
      constantObj: {
        // 优先级
        taskLevel: [
          { text: '无', value: null },
          { text: '中', value: '中' },
          { text: '低', value: '低' },
          { text: '高', value: '高' },
        ],

      },
      sceneList: [
        {
          "form": { taskManagerId: window.userInfo.userId, taskType: '审批', },
          "name": "我的申请",
          "id": "scene-fixed-1"
        },
        {
          "form": { taskAuditUserIdList: `%${window.userInfo.userId}%`, taskType: '审批', },
          "name": "我的待办",
          "id": "scene-fixed-2"
        },
      ],

      currentSceneId: null,
      serverSearchInput: {
        taskType: '审批',
        taskManagerId: window.userInfo.userId,
        taskEndAt: null,
        taskLevel: null,
        taskStatus: null,
      },
      searchInput: null,
      isTableLoading: true,
      tableData: [],
      headers: [
        { text: "审批ID", value: "taskId", width: 120 },
        { text: "审批名称", value: "taskTitle", width: 120 },
        { text: "审批描述", value: "taskDesc", width: 120 },
        { text: "审批状态", value: "taskStatus", width: 120 },
        { text: "审批内容", value: "taskContent", width: 120 },
        { text: "操作者", value: "operationByUser", width: 120 },
        { text: "操作时间", value: "operationAt", width: 250 },
        { text: '操作', value: 'action', align: 'center', sortable: false, width: 120, class: 'fixed', cellClass: 'fixed' },

      ],

      isCreateDrawerShown: false,
      createItem: {},
      createActionData: {},
      isUpdateDrawerShown: false,
      updateItem: {},
      updateItemId: null,
      updateActionData: {},
      deleteItem: {},
      deleteItemId: null,

      isTaskStartAtMenuShown: false,
      isTaskEndAtMenuShown: false,
      userList: [],

      taskTemplateList: [],
      userId: window.userInfo.userId
    }),
    watch: {
      isHelpPageDrawerShown(val) {
        if (val && !this.isHelpPageDrawerLoaded) {
          this.isHelpPageDrawerLoaded = true;
        }
      },
    },
    async created() {
    },
    mounted() {
      this.doUiAction('initPageData');
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'initPageData':
            await Promise.all([
              this.getUserList(),
              this.getTaskTemplateList(),
            ]);
          case 'getTableData':
            await this.getTableData();
            break;
          case 'startCreateItem':
            await this.$refs.selectTicketTypeDialog.doUiAction('open');

            // await this.prepareCreateFormData();
            // await this.openCreateDrawer();
            break;
          case 'startCreateTicket':
            this.$refs.createTicketDrawer.doUiAction('open', uiActionData);
            break;
          case 'createItem':
            await this.prepareCreateValidate();
            await this.confirmCreateItemDialog();
            await this.prepareDoCreateItem();
            await this.doCreateItem();
            await this.closeCreateDrawer();
            await this.getTableData();
            break;
          case 'startUpdateItem':
            await this.prepareUpdateFormData(uiActionData);
            await this.openUpdateDrawer();
            break;
          case 'updateItem':
            await this.prepareUpdateValidate();
            await this.confirmUpdateItemDialog();
            await this.prepareDoUpdateItem();
            await this.doUpdateItem();
            await this.closeUpdateDrawer();
            await this.getTableData();
            break;
          case 'deleteItem':
            await this.prepareDeleteFormData(uiActionData);
            await this.confirmDeleteItemDialog();
            await this.prepareDoDeleteItem();
            await this.doDeleteItem();
            await this.clearDeleteItem();
            await this.getTableData();
            break;
          case 'getUserList':
            await this.getUserList();
            break;
          case 'exportExcel':
            await this.exportExcel();
            break;
          case 'taskTemplateList':
            await this.getTaskTemplateList();
            break;
          case 'handleTaskTemplateChange':
            await this.handleTaskTemplateChange(uiActionData);
            break;
          case 'useScene':
            await this.useScene(uiActionData);
            await this.doUiAction('getTableData');
            break;
          case 'startHandleTaskApply':
            this.$refs.ticketDetail.doUiAction('open', { taskId: uiActionData.taskId })
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      /**
       * 获取表格数据
       */
      async getTableData() {
        this.isTableLoading = true;
        // 取this.serverSearchInput为真，使用loadsh
        const { taskAuditUserIdList, taskAuditedUserIdList, ...otherParams } = this.serverSearchInput

        const whereData = _.pickBy(otherParams, _.identity);
        const whereLikeData = {}
        if (taskAuditUserIdList) {
          whereLikeData.taskAuditUserIdList = taskAuditUserIdList
        }
        // const whereILikeData = {}
        // if (taskAuditedUserIdList) {
        //   whereILikeData.taskAuditedUserIdList = taskAuditedUserIdList
        // }

        const rows = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'ticketManagement',
              actionId: 'selectItemList',
              actionData: {},
              where: whereData,
              whereLike: whereLikeData,
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        })).data.appData.resultData.rows;

        rows.map(row => {
          row.taskAuditConfig = JSON.parse(row.taskAuditConfig)
          row.taskAuditUserIdList = (row.taskAuditUserIdList || '').split(',')
          row.taskFileList = JSON.parse(row.taskFileList || '[]')

        })
        this.tableData = rows;
        this.isTableLoading = false;
      },
      async getUserList() {
        const rows = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'allPage',
              actionId: 'getUserList',
              actionData: {},
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        })).data.appData.resultData.rows;
        this.userList = rows;
      },
      // ---------- 新增数据 uiAction >>>>>>>>>> --------
      async prepareCreateFormData() {
        const { userId } = window.userInfo;
        this.createItem = {
          taskManagerId: userId,
          taskAuditConfig: []
        };
      },

      async openCreateDrawer() {
        this.isCreateDrawerShown = true;
      },

      async prepareCreateValidate() {
        if (await this.$refs.createForm.validate()) {
          return true;
        }
        throw new Error("请完善表单信息")
      },

      async confirmCreateItemDialog() {
        if (await window.confirmDialog({ title: "新增", content: "确定新增吗？" }) === false) {
          throw new Error("[confirmCreateFormDialog] 否");
        }
      },

      prepareDoCreateItem() {
        const { id, ...data } = this.createItem;

        data.taskAuditUserIdList = data.taskAuditConfig.map(item => item.userId).join(',')
        data.taskMemberIdList = data.taskAuditUserIdList
        data.taskAuditConfig = data.taskAuditConfig.map(item => {
          // 查userList
          const user = this.userList.find(user => user.userId === item.userId) || {}
          return {
            ...item,
            username: user.username,
          }
        })
        data.taskFileList = JSON.stringify(data.taskFileList)
        data.taskAuditConfig = JSON.stringify(data.taskAuditConfig)
        data.taskType = '审批'
        data.taskCreateAt = dayjs().format('YYYY-MM-DD HH:mm:ss')
        this.createActionData = data;
      },

      async doCreateItem() {
        await window.jhMask.show();
        await window.vtoast.loading("新增数据");
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'ticketManagement',
              actionId: 'insertItem',
              actionData: this.createActionData,
              bizIdGenerate: {
                tableName: "task",
                prefix: "SP",
                type: "idSequence",
                bizId: "taskId",
              },
            }
          }
        })

        await this.addNotice({
          ...this.createActionData,
          rowId: result.data.appData.resultData.rows[0]
        })

        await window.jhMask.hide();
        await window.vtoast.success("新增数据成功");
      },
      async closeCreateDrawer() {
        this.isCreateDrawerShown = false;
        this.createItem = {};
        this.createActionData = null;
      },
      // ---------- <<<<<<<<<<< 新增数据 uiAction ---------
      // ---------- 修改数据 uiAction >>>>>>>>>>>> --------
      async prepareUpdateFormData(funObj) {

        this.updateItem = _.cloneDeep(funObj);
      },

      async openUpdateDrawer() {
        this.isUpdateDrawerShown = true;
      },

      async prepareUpdateValidate() {
        if (await this.$refs.updateForm.validate()) {
          return true;
        }
        throw new Error("请完善表单信息")
      },

      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({ title: "修改", content: "确定修改吗？" }) === false) {
          throw new Error("[confirmUpdateItemDialog] 否");
        }
      },

      async prepareDoUpdateItem() {
        const { id, ...data } = this.updateItem;
        this.updateItemId = id;

        data.taskAuditUserIdList = data.taskAuditConfig.map(item => item.userId).join(',')
        data.taskMemberIdList = data.taskAuditUserIdList
        data.taskAuditConfig = data.taskAuditConfig.map(item => {
          // 查userList
          const user = this.userList.find(user => user.userId === item.userId) || {}
          return {
            ...item,
            username: user.username,
          }
        })
        data.taskFileList = JSON.stringify(data.taskFileList)
        data.taskAuditConfig = JSON.stringify(data.taskAuditConfig)
        this.updateActionData = data;
      },

      async doUpdateItem() {
        await window.jhMask.show();
        await window.vtoast.loading("修改数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'ticketManagement',
              actionId: 'updateItem',
              actionData: this.updateActionData,
              where: { id: this.updateItemId }
            }
          }
        })

        await this.addNotice({
          rowId: this.updateItemId,
          ...this.updateActionData
        })

        await window.jhMask.hide();
        await window.vtoast.success("修改数据成功");
      },

      async closeUpdateDrawer() {
        this.isUpdateDrawerShown = false;
        this.updateItem = {};
        this.updateActionData = null;
        this.updateItemId = null;
      },
      // ---------- <<<<<<<<<<< 修改数据 uiAction ---------
      // ---------- 删除数据 uiAction >>>>>>>>>>>> --------
      async prepareDeleteFormData(funObj) {
        this.deleteItem = _.cloneDeep(funObj);
      },
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({ title: "删除", content: "确定删除吗？" }) === false) {
          throw new Error("[confirmDeleteItemDialog] 否");
        }
      },
      async prepareDoDeleteItem() {
        const { id } = this.deleteItem;
        this.deleteItemId = id;
      },
      async doDeleteItem() {
        await window.vtoast.loading("删除数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'ticketManagement',
              actionId: 'deleteItem',
              actionData: {},
              where: { id: this.deleteItemId }
            }
          }
        });
        await window.vtoast.success("删除数据成功");
      },
      async clearDeleteItem() {
        this.deleteItem = {};
        this.deleteItemId = null;
      },
      // ---------- <<<<<<<<<<< 删除数据 uiAction ---------
      async exportExcel() {
        const params = {
          header: this.headers.filter(header => header.text != '操作').map(header => header.text),
          key: this.headers.filter(header => header.text != '操作').map(header => header.value),
          data: this.tableData,
          filename: dayjs().format('YYYYMMDDHHmmss') + '_' + '审批'
        };
        excelUtil.exportData(params);
      },

      // ---------- 审批模板 >>>>>>>>>>>>> ----------
      async getTaskTemplateList() {
        const rows = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'ticketManagement',
              actionId: 'selectTaskTemplateList',
              actionData: {},
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        })).data.appData.resultData.rows;

        this.taskTemplateList = rows;
      },
      async handleTaskTemplateChange({ taskTemplateId, item }) {
        const taskTemplate = this.taskTemplateList.find(item => item.taskTemplateId === taskTemplateId);

        item.taskAuditConfig = JSON.parse(taskTemplate.taskTemplatePersonList);
      },
      // ---------- <<<<<<<<<<<<< 审批模板 ----------

      // ---------- 添加通知 >>>>>>>>>>>>> ----------
      async addNotice(item) {
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'noticeManagement',
              actionId: 'addNotice',
              actionData: item,
            }
          }
        })
      },
      // ---------- <<<<<<<<<<<<< 添加通知 ----------
      useScene(funObj) {
        this.currentSceneId = funObj.id;
        this.serverSearchInput = _.cloneDeep(funObj.form);
      },
    }
  })
</script>

<style scoped>
</style>{% endblock %}