{% extends 'template/jhTemplateV4.html'%} {% block vueTemplate %}

<script type="text/html" id="app-template">
  <div>
    <v-app mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="mt-15">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="jh-page-second-bar px-8">
          <v-row>
            <v-col cols="12" xs="12" sm="12" md="4" xl="3">
              <div class="pt-3 text-h7 font-weight-bold">
                我收到的
                <!-- 帮助页按钮 -->
                <v-icon
                  @click="isHelpPageDrawerShown = true"
                  color="success"
                  small
                  >mdi-help-circle-outline
                </v-icon>
              </div>
              <v-breadcrumbs
                class="pb-3 pt-0 pl-0"
                :items="breadcrumbs"
                divider="-"
              ></v-breadcrumbs>
            </v-col>
            <!-- 搜索条件表单 >>>>>>>> -->
            <v-col cols="12" xs="12" sm="12" md="8" xl="9">
              <v-row class="jh-backend-form-container justify-end ma-0 pb-xs-2">
                <v-col
                cols="12"
                xs="6"
                sm="6"
                md="4"
                xl="3"
                class="pa-xs-0 pb-2 pl-1 pl-xs-1"
              >
                <v-autocomplete
                  clearable
                  v-model="serverSearchInput.taskManagerId"
                  color="success"
                  prefix="申请人："
                  class="jh-v-input bg-white"
                  item-text="username"
                  item-id="userId"
                  :items="userList"
                  dense
                  filled
                  single-line
                ></v-autocomplete>
              </v-col>
                <v-col
                  cols="12"
                  xs="6"
                  sm="6"
                  md="4"
                  xl="3"
                  class="pa-xs-0 pb-2 pl-1 pl-xs-1"
                >
                  <v-autocomplete
                    clearable
                    v-model="serverSearchInput.taskTemplateId"
                    color="success"
                    prefix="模板名称："
                    class="jh-v-input bg-white"
                    item-text="taskTemplateName"
                    item-id="taskTemplateId"
                    :items="taskTemplateList"
                    dense
                    filled
                    single-line
                  ></v-autocomplete>
                </v-col>
                <v-col
                  cols="12"
                  xs="6"
                  sm="6"
                  md="4"
                  xl="3"
                  class="pa-xs-0 pb-2 pl-1 pl-xs-1"
                >
                  <v-menu
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        class="jh-v-input"
                        v-model="serverSearchInput.taskCreateAt"
                        dense
                        single-line
                        filled
                        v-bind="attrs"
                        v-on="on"
                        prefix="提交日期："
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="serverSearchInput.taskCreateAt"
                      no-title
                      scrollable
                    ></v-date-picker>
                  </v-menu>
                </v-col>
                <v-btn
                  class="jh-backend-search-btn elevation-0 ml-0 mt-3"
                  color="success"
                  small
                  @click="doUiAction('getTableData')"
                >
                  查询
                </v-btn>
              </v-row>
            </v-col>
            <!-- <<<<<<<< 搜索条件表单 -->
          </v-row>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->

        <div class="jh-page-body-container px-8">
          <!-- 页面内容 >>>>>>>>>>>>> -->
          <v-card class="rounded-lg">
            <v-row class="ma-0 pa-4">
              <v-spacer></v-spacer>
              <!-- 搜索过滤 -->
              <v-col cols="12" xs="12" sm="4" md="3" xl="2" class="pa-0 text-md-right">
                <v-btn-toggle :value="0"  @change="doUiAction('useScene', sceneList[$event])" class="mr-2 mt-2 mt-md-0" color="success" small>
                  <v-btn v-for="scene in sceneList" small>{{scene.name}}</v-btn>
                </v-btn-toggle>
              </v-col>
              <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
                <v-text-field
                  color="success"
                  v-model="searchInput"
                  prefix="搜索："
                  class="jh-v-input"
                  dense
                  filled
                  single-line
                ></v-text-field>
              </v-col>
            </v-row>
            <!-- 表格 -->
            <v-data-table
              :headers="headers"
              :items="tableData"
              :search="searchInput"
              :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页', itemsPerPageAllText: '所有'}"
              :items-per-page="-1"
              mobile-breakpoint="0"
              :loading="isTableLoading"
              checkbox-color="success"
              :class="{'zebraLine': isTableZebraLineShown }"
              fixed-header
              class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4"
            >
              <!-- 表格操作按钮 -->
              <template v-slot:item.action="{ item }">
                <template>
                  <span
                    role="button"
                    class="success--text font-weight-medium font-size-2 mr-2"
                    @click="doUiAction('startUpdateItem', {item})"
                    v-if="!item.taskAuditedUserIdList?.includes(userId) && item.taskStatus === '进行中'"
                  >
                    <v-icon size="16" class="success--text"
                      >mdi-note-edit-outline</v-icon
                    >审批
                  </span>
                  <span
                    role="button"
                    class="success--text font-weight-medium font-size-2 mr-2"
                    @click="doUiAction('startUpdateItem', {item})"
                    v-if="(item.taskAuditedUserIdList?.includes(userId) && item.taskAuditUserIdList?.includes(userId)) || ['已撤销', '已拒绝'].includes(item.taskStatus)"
                  >
                    <v-icon size="16" class="success--text"
                      >mdi-note-edit-outline</v-icon
                    >查看详情
                  </span>
                </template>
                
              </template>
              <!-- 没有数据 -->
              <template v-slot:loading>
                <div class="jh-no-data">数据加载中</div>
              </template>
              <template v-slot:no-data>
                <div class="jh-no-data">暂无数据</div>
              </template>
              <template v-slot:no-results>
                <div class="jh-no-data">暂无数据</div>
              </template>
              <!-- 表格分页 -->
              <template v-slot:footer.page-text="pagination">
                <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                <span class="ml-1">共{{pagination.itemsLength}}条</span>
              </template>
            </v-data-table>
          </v-card>

          <view-ticket-drawer ref="viewTicketDrawer" @success="doUiAction('getTableData')"/>
        </div>

        <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
        <v-navigation-drawer
          v-if="isHelpPageDrawerLoaded"
          v-model="isHelpPageDrawerShown"
          :permanent="isHelpPageDrawerShown"
          fixed
          temporary
          right
          width="80%"
          class="elevation-24"
        >
          <iframe
            style="border: 0"
            :src="`/${appInfo.appId}/pageDoc#404.md`"
            width="100%"
            height="100%"
          ></iframe>
          <v-btn
            elevation="0"
            color="success"
            fab
            absolute
            top
            left
            small
            tile
            class="drawer-close-float-btn"
            @click="isHelpPageDrawerShown = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
        <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
      </v-main>
    </v-app>

    <jh-toast />
    <jh-mask />
    <jh-confirm-dialog />
  </div>
</script>

<div id="app"></div>

{% endblock %}
{% block vueScript %}
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
{% include 'component/task-filter-btn.html' %}
{% include 'common/excelUtil.html' %}
{% include 'common/constant.html' %}
{% include 'component/task-attachment-list.html' %}
{% include 'component/task-approval-workflow.html' %}
{% include 'component/ticket/view-ticket-drawer.html' %}

<script type="module">
  new Vue({
    el: "#app",
    template: "#app-template",
    vuetify: new Vuetify(),
    data: () => ({
      breadcrumbs: [
        {
          text: "首页",
          disabled: true,
        },
        {
          text: "我提交的",
          disabled: true,
        },
      ],
      isHelpPageDrawerShown: false,
      isHelpPageDrawerLoaded: false,
      isMobile: window.innerWidth < 500,
      // 表格相关数据
      isTableZebraLineShown: true,
      validationRules: {
        requireRules: [(v) => !!v || "必填"],
      },
      // 下拉选项
      constantObj: constantObj,

      currentSceneId: 'wait',
      sceneList: [
        {
          "form": { taskAuditUserIdList: `%${window.userInfo.userId}%`},
          "name": "待处理",
          "id": "wait"
        },
        {
          "form": { taskAuditedUserIdList: `%${window.userInfo.userId}%` },
          "name": "已处理",
          "id": "processed"
        },
        {
          "form": { taskAuditUserIdList: null, taskNoticeConfig: `%${window.userInfo.userId}%` },
          "name": "抄送我的",
          "id": "bcc"
        },
      ],

      serverSearchInput: {
        taskType: "审批",
        taskStatus: null,
        taskAuditUserIdList: window.userInfo.userId,
      },
      searchInput: null,
      isTableLoading: true,
      tableData: [],
      headers: [
        { text: "审批ID", value: "taskId", width: 120 },
        { text: "审批名称", value: "taskTitle", width: 250 },
        { text: "发起人", value: "username", width: 120 },
        { text: "发起时间", value: "taskCreateAt", width: 120 },
        { text: "审批状态", value: "taskStatus", width: 120 },
        { text: "审批类型", value: "taskTemplateName", width: 120 },
        { text: "审批人", value: "taskAuditUserIdList", width: 120 },
        { text: "历史审批", value: "taskAuditedUserIdList", width: 120 },
        { text: "操作者", value: "operationByUser", width: 120 },
        { text: "操作时间", value: "operationAt", width: 250 },
        {
          text: "操作",
          value: "action",
          align: "center",
          sortable: false,
          width: 120,
          class: "fixed",
          cellClass: "fixed",
        },
      ],

      userList: [],

      taskTemplateList: [],
      userId: window.userInfo.userId,
    }),
    watch: {
      isHelpPageDrawerShown(val) {
        if (val && !this.isHelpPageDrawerLoaded) {
          this.isHelpPageDrawerLoaded = true;
        }
      },
    },
    async created() {},
    mounted() {
      this.doUiAction("initPageData");
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case "initPageData":
            await Promise.all([this.getTableData(), this.getUserList(), this.getTaskTemplateList()]);
            break;
          case "getTableData":
            await this.getTableData();
            break;
          case "startUpdateItem":
            this.$refs.viewTicketDrawer.doUiAction("open", uiActionData);
            break;
          case "deleteItem":
            await this.prepareDeleteFormData(uiActionData);
            await this.confirmDeleteItemDialog();
            await this.prepareDoDeleteItem();
            await this.doDeleteItem();
            await this.clearDeleteItem();
            await this.getTableData();
            break;
          case 'useScene':
            await this.useScene(uiActionData);
            await this.getTableData(uiActionData.form);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      /**
       * 获取表格数据
       */
      async getTableData(params = {}) {
        this.isTableLoading = true;

        const whereData = _.pickBy({...this.serverSearchInput, ...params}, _.identity);

        let rows = (
          await window.jianghuAxios({
            data: {
              appData: {
                pageId: "ticketManagement",
                actionId: "selectItemList",
                actionData: {},
                whereLike: whereData,
                orderBy: [{ column: "operationAt", order: "desc" }],
              },
            },
          })
        ).data.appData.resultData.rows;

        if (this.currentSceneId === 'wait') {
          // 前端过滤下
          rows = rows.filter(row => !row.taskAuditedUserIdList?.includes(this.userId));
        }

        this.tableData = rows;
        this.isTableLoading = false;
      },
      async getUserList() {
        const rows = (
          await window.jianghuAxios({
            data: {
              appData: {
                pageId: "allPage",
                actionId: "getUserList",
                actionData: {},
              },
            },
          })
        ).data.appData.resultData.rows;
        this.userList = rows;
      },

      // ---------- 删除数据 uiAction >>>>>>>>>>>> --------
      async prepareDeleteFormData(funObj) {
        this.deleteItem = _.cloneDeep(funObj);
      },
      async confirmDeleteItemDialog() {
        if (
          (await window.confirmDialog({
            title: "撤销",
            content: "确定撤销吗？",
          })) === false
        ) {
          throw new Error("[confirmDeleteItemDialog] 否");
        }
      },
      async prepareDoDeleteItem() {
        const { id } = this.deleteItem;
        this.deleteItemId = id;
      },
      async doDeleteItem() {
        await window.vtoast.loading("撤销数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: "ticketManagement",
              actionId: "updateItem",
              actionData: {
                taskStatus: "已撤销",
              },
              where: { id: this.deleteItemId },
            },
          },
        });
        await window.vtoast.success("撤销数据成功");
      },
      async clearDeleteItem() {
        this.deleteItem = {};
        this.deleteItemId = null;
      },
      // ---------- <<<<<<<<<<< 删除数据 uiAction ---------

      // ---------- 审批模板 >>>>>>>>>>>>> ----------
      async getTaskTemplateList() {
        const rows = (
          await window.jianghuAxios({
            data: {
              appData: {
                pageId: "ticketManagement",
                actionId: "selectTaskTemplateList",
                where: {taskTemplateType: '审批'},
                orderBy: [{ column: "operationAt", order: "desc" }],
              },
            },
          })
        ).data.appData.resultData.rows;

        this.taskTemplateList = rows;
      },
      async useScene(funObj) {
        this.currentSceneId = funObj.id;
      },

      // ---------- <<<<<<<<<<<<< 审批模板 ----------
    },
  });
</script>

<style scoped></style>{% endblock %}
